Repository Cuprate/cuprate, changes with the labels that .github/labeler.yml gives for each.
All labels: A-consensus, A-books, A-book-architecture, A-book-protocol, A-book-user, A-binaries, A-cryptonight, A-storage, A-helper, A-net, A-p2p, A-pruning, A-test-utils, A-types, A-rpc, A-zmq, A-ci, A-benches, A-dependency, A-workspace, A-docs

.github/labeler.yml:

# This file consists of rules determining which labels the
# `github-actions` bot should automatically label an issue/PR with.
# The CI that actually applies labels is in `.github/workflows/labeler.yml`.
#
# The main one used is the "if a file changed" rule.
# The format for this rule is:
#
# ```
# $LABEL_NAME:
# - changed-files:
#   - any-glob-to-any-file: $PATH
# ```
#
# where $PATH can be:
#   $DIRECTORY/*
# which means any file changed 1 level deep inside that directory or:
#   $DIRECTORY/**
# which means any file changed within that directory or:
#   $DIRECTORY/$FILE_NAME
# which means a specific file path or:
#   $DIRECTORY/*.$FILE_EXTENSION
# which means any file 1 level deep in that directory with a certain file extension.
#
# For a detailed guide, see: <https://github.com/actions/labeler>.
#
# For a real example:
A-consensus: # This is the tag name
- changed-files: # Any changed file...
  - any-glob-to-any-file: consensus/** # ...within the `consensus/` directory
                                       # will cause the `github-actions` bot
                                       # to add the `A-consensus` tag.

# Cuprate's books.
A-books:
- changed-files:
  - any-glob-to-any-file: books/**

A-book-architecture:
- changed-files:
  - any-glob-to-any-file: books/architecture/**

A-book-protocol:
- changed-files:
  - any-glob-to-any-file: books/protocol/**

A-book-user:
- changed-files:
  - any-glob-to-any-file: books/user/**

# Crate (sub-)directories.
A-binaries:
- changed-files:
  - any-glob-to-any-file: binaries/**

A-cryptonight:
- changed-files:
  - any-glob-to-any-file: cryptonight/**

A-storage:
- changed-files:
  - any-glob-to-any-file: storage/**

A-helper:
- changed-files:
  - any-glob-to-any-file: helper/**

A-net:
- changed-files:
  - any-glob-to-any-file: net/**

A-p2p:
- changed-files:
  - any-glob-to-any-file: p2p/**

A-pruning:
- changed-files:
  - any-glob-to-any-file: pruning/**

A-test-utils:
- changed-files:
  - any-glob-to-any-file: test-utils/**

A-types:
- changed-files:
  - any-glob-to-any-file: types/**

A-rpc:
- changed-files:
  - any-glob-to-any-file: rpc/**

A-zmq:
- changed-files:
  - any-glob-to-any-file: zmq/**

# CI files.
A-ci:
- changed-files:
  - any-glob-to-any-file: .github/**

# Misc
A-benches:
- changed-files:
  - any-glob-to-any-file: benches/** # Benchmarks

A-dependency:
- changed-files:
  - any-glob-to-any-file: '**/Cargo.toml' # Any Cargo file in the entire repo
  - any-glob-to-any-file: '**/Cargo.lock'

A-workspace:
- changed-files:
  - any-glob-to-any-file: '*' # Any root file change
  - any-glob-to-any-file: misc/**

A-docs:
- changed-files:
  - any-glob-to-any-file: '**/*.md' # Any file in the entire repo ending in `.md`
  # `A-books` label is used for book documentation.

formatting
  CONTRIBUTING.md
Labels: A-workspace, A-docs

add `A-help-wanted` label
  CONTRIBUTING.md
Labels: A-workspace, A-docs

fix doc link
  p2p/address-book/src/lib.rs
Labels: A-p2p

`dandelion/` -> `dandelion-tower/`
  Cargo.toml
  p2p/dandelion-tower/Cargo.toml
  p2p/dandelion-tower/src/config.rs
  p2p/dandelion-tower/src/lib.rs
  p2p/dandelion-tower/src/pool.rs
  p2p/dandelion-tower/src/router.rs
  p2p/dandelion-tower/src/tests/mod.rs
  p2p/dandelion-tower/src/tests/pool.rs
  p2p/dandelion-tower/src/tests/router.rs
  p2p/dandelion-tower/src/traits.rs
Labels: A-p2p, A-dependency, A-workspace

fix epee-encoding test
  net/epee-encoding/src/lib.rs
Labels: A-net

fix `json-rpc`
  rpc/json-rpc/README.md
  rpc/json-rpc/src/error/code.rs
  rpc/json-rpc/src/error/object.rs
  rpc/json-rpc/src/id.rs
  rpc/json-rpc/src/request.rs
  rpc/json-rpc/src/response.rs
  rpc/json-rpc/src/version.rs
Labels: A-rpc, A-docs

add syncer
  Cargo.lock
  binaries/cuprated/Cargo.toml
  binaries/cuprated/src/blockchain.rs
  binaries/cuprated/src/blockchain/syncer.rs
  binaries/cuprated/src/config.rs
  binaries/cuprated/src/main.rs
  binaries/cuprated/src/network.rs
  binaries/cuprated/src/p2p_request_handler.rs
  binaries/cuprated/src/tx_pool.rs
  p2p/cuprate-p2p/src/lib.rs
Labels: A-binaries, A-p2p, A-dependency, A-workspace

add monerod binary note
  CONTRIBUTING.md
Labels: A-workspace, A-docs

fix pruning
  pruning/src/lib.rs
Labels: A-pruning

Update consensus/fast-sync/src/fast_sync.rs
  consensus/fast-sync/src/fast_sync.rs
Labels: A-consensus

contributing: add & format sections (#150)
  CONTRIBUTING.md
Labels: A-workspace, A-docs

Update consensus/fast-sync/src/fast_sync.rs
  consensus/fast-sync/src/fast_sync.rs
Labels: A-consensus

Fast sync part 2 (#156)
  Cargo.lock
  consensus/fast-sync/Cargo.toml
  consensus/fast-sync/src/fast_sync.rs
Labels: A-consensus, A-dependency, A-workspace

fix build
  binaries/cuprated/src/main.rs
Labels: A-binaries

add skeleton
  books/user/book.toml
  books/user/last-changed.css
  books/user/src/SUMMARY.md
Labels: A-books, A-book-user, A-docs

`monero-rpc-types` -> `cuprate-rpc-types`
  Cargo.lock
  Cargo.toml
  rpc/interface/Cargo.toml
  rpc/interface/src/lib.rs
  rpc/types/Cargo.toml
  rpc/types/README.md
  rpc/types/src/bin.rs
  rpc/types/src/data.rs
  rpc/types/src/json.rs
  rpc/types/src/lib.rs
  rpc/types/src/macros.rs
  rpc/types/src/other.rs
  rpc/types/src/status.rs
Labels: A-rpc, A-dependency, A-workspace, A-docs

fix modules
  rpc/types/README.md
  rpc/types/src/bin.rs
  rpc/types/src/json.rs
  rpc/types/src/lib.rs
  rpc/types/src/macros.rs
  rpc/types/src/other.rs
  rpc/types/src/status.rs
Labels: A-rpc, A-docs

specify commit in macro, add () type aliases
  rpc/types/src/json.rs
  rpc/types/src/macros.rs
  rpc/types/src/other.rs
Labels: A-rpc

add `benches/` readme
  benches/README.md
Labels: A-benches, A-docs

add basic `Response` serde benches
  Cargo.lock
  Cargo.toml
  benches/cuprate-json-rpc/Cargo.toml
  benches/cuprate-json-rpc/benches/main.rs
  benches/cuprate-json-rpc/benches/response.rs
  benches/cuprate-json-rpc/src/constants.rs
  benches/cuprate-json-rpc/src/lib.rs
  benches/cuprate-json-rpc/src/method.rs
Labels: A-benches, A-dependency, A-workspace

rename fn
  benches/cuprate-json-rpc/benches/response.rs
Labels: A-benches

start handshaker builder
  Cargo.lock
  p2p/monero-p2p/Cargo.toml
  p2p/monero-p2p/src/client/handshaker.rs
  p2p/monero-p2p/src/client/handshaker/builder.rs
Labels: A-p2p, A-dependency, A-workspace

macro docs, fixes
  rpc/types/src/json.rs
  rpc/types/src/macros.rs
  rpc/types/src/other.rs
Labels: A-rpc

finish builder
  p2p/cuprate-p2p/src/lib.rs
  p2p/monero-p2p/src/client.rs
  p2p/monero-p2p/src/client/connector.rs
  p2p/monero-p2p/src/client/handshaker.rs
  p2p/monero-p2p/src/client/handshaker/builder.rs
  p2p/monero-p2p/src/lib.rs
  p2p/monero-p2p/tests/fragmented_handshake.rs
  p2p/monero-p2p/tests/handshake.rs
  p2p/monero-p2p/tests/sending_receiving.rs
  p2p/monero-p2p/tests/utils.rs
Labels: A-p2p
