Repository Cuprate/cuprate, pull requests merged in 2024-08, with the labels that each got.

#241 rpc-types: add traits and `enum` requests/responses
  rpc/types/README.md
  rpc/types/src/bin.rs
  rpc/types/src/json.rs
  rpc/types/src/lib.rs
  rpc/types/src/macros.rs
  rpc/types/src/other.rs
  rpc/types/src/rpc_call.rs
Labels: A-docs, A-rpc

#237 Storage: split the DB service abstraction
  Cargo.lock
  Cargo.toml
  consensus/fast-sync/src/create.rs
  consensus/src/context/alt_chains.rs
  consensus/src/context/difficulty.rs
  consensus/src/context/hardforks.rs
  consensus/src/context/rx_vms.rs
  consensus/src/context/task.rs
  consensus/src/context/weight.rs
  consensus/src/lib.rs
  consensus/src/tests/mock_db.rs
  consensus/src/transactions.rs
  consensus/src/transactions/contextual_data.rs
  consensus/tests/verify_correct_txs.rs
  storage/blockchain/Cargo.toml
  storage/blockchain/src/config/backend.rs
  storage/blockchain/src/config/config.rs
  storage/blockchain/src/config/mod.rs
  storage/blockchain/src/config/sync_mode.rs
  storage/blockchain/src/service/free.rs
  storage/blockchain/src/service/mod.rs
  storage/blockchain/src/service/read.rs
  storage/blockchain/src/service/tests.rs
  storage/blockchain/src/service/types.rs
  storage/blockchain/src/service/write.rs
  storage/service/Cargo.toml
  storage/service/README.md
  storage/service/src/lib.rs
  storage/service/src/reader_threads.rs
  storage/service/src/service.rs
  storage/service/src/service/read.rs
  storage/service/src/service/write.rs
  types/src/blockchain.rs
Labels: A-dependency, A-workspace, A-consensus, A-docs, A-storage, A-types

#233 rpc: impl `cuprate-rpc-interface`
  Cargo.lock
  rpc/interface/Cargo.toml
  rpc/interface/README.md
  rpc/interface/src/lib.rs
  rpc/interface/src/route/bin.rs
  rpc/interface/src/route/fallback.rs
  rpc/interface/src/route/json_rpc.rs
  rpc/interface/src/route/mod.rs
  rpc/interface/src/route/other.rs
  rpc/interface/src/router_builder.rs
  rpc/interface/src/rpc_error.rs
  rpc/interface/src/rpc_handler.rs
  rpc/interface/src/rpc_handler_dummy.rs
  rpc/interface/src/rpc_request.rs
  rpc/interface/src/rpc_response.rs
Labels: A-dependency, A-workspace, A-docs, A-rpc

#249 ci: add book build tests
  .github/workflows/architecture-book.yml
  .github/workflows/monero-book.yml
  .github/workflows/user-book.yml
Labels: A-ci

#243 architecture-book: fill `RPC` section
  books/architecture/src/SUMMARY.md
  books/architecture/src/appendix/crates.md
  books/architecture/src/rpc/differences/custom-strings.md
  books/architecture/src/rpc/differences/http-methods.md
  books/architecture/src/rpc/differences/intro.md
  books/architecture/src/rpc/differences/json-field-ordering.md
  books/architecture/src/rpc/differences/json-formatting.md
  books/architecture/src/rpc/differences/json-rpc-strictness.md
  books/architecture/src/rpc/differences/json-strictness.md
  books/architecture/src/rpc/differences/rpc-calls-with-different-behavior.md
  books/architecture/src/rpc/differences/rpc-payment.md
  books/architecture/src/rpc/differences/unsupported-rpc-calls.md
  books/architecture/src/rpc/handler.md
  books/architecture/src/rpc/handler/intro.md
  books/architecture/src/rpc/interface.md
  books/architecture/src/rpc/intro.md
  books/architecture/src/rpc/json-rpc.md
  books/architecture/src/rpc/methods/intro.md
  books/architecture/src/rpc/router.md
  books/architecture/src/rpc/server/intro.md
  books/architecture/src/rpc/types/base-types.md
  books/architecture/src/rpc/types/binary.md
  books/architecture/src/rpc/types/deserialization.md
  books/architecture/src/rpc/types/intro.md
  books/architecture/src/rpc/types/json.md
  books/architecture/src/rpc/types/macro.md
  books/architecture/src/rpc/types/metadata.md
  books/architecture/src/rpc/types/misc-types.md
  books/architecture/src/rpc/types/other.md
Labels: A-docs, A-books, A-book-architecture

#250 Consensus: move more types to `types`
  Cargo.lock
  consensus/fast-sync/src/fast_sync.rs
  consensus/rules/Cargo.toml
  consensus/rules/src/blocks.rs
  consensus/rules/src/hard_forks.rs
  consensus/rules/src/lib.rs
  consensus/rules/src/miner_tx.rs
  consensus/rules/src/transactions.rs
  consensus/src/block.rs
  consensus/src/block/alt_block.rs
  consensus/src/block/batch_prepare.rs
  consensus/src/block/free.rs
  consensus/src/context/hardforks.rs
  consensus/src/tests/mock_db.rs
  consensus/src/transactions.rs
  consensus/src/transactions/free.rs
  storage/blockchain/src/ops/block.rs
  types/Cargo.toml
  types/README.md
  types/src/hard_fork.rs
  types/src/lib.rs
  types/src/transaction_verification_data.rs
  types/src/types.rs
Labels: A-dependency, A-workspace, A-consensus, A-docs, A-storage, A-types

#251 books: change some definitions
  books/protocol/src/consensus_rules.md
Labels: A-docs, A-books, A-book-protocol

#252 ci: fix book CI
  .github/workflows/architecture-book.yml
  .github/workflows/audit.yml
  .github/workflows/deny.yml
  .github/workflows/monero-book.yml
  .github/workflows/user-book.yml
Labels: A-ci

#253 workspace: add `1.78..=1.80` lints
  Cargo.toml
Labels: A-dependency, A-workspace

#254 `std::mem::{size,align}_of` -> `{size,align}_of`
  net/epee-encoding/src/container_as_blob.rs
  net/epee-encoding/src/io.rs
  storage/blockchain/src/types.rs
  storage/database/README.md
  storage/database/src/storable.rs
Labels: A-docs, A-storage, A-net

#256 Replace `OnceLock` + `fn` with `LazyLock`
  consensus/rules/src/decomposed_amount.rs
  consensus/rules/src/transactions/tests.rs
  helper/src/fs.rs
  storage/blockchain/src/config/config.rs
  storage/blockchain/src/ops/block.rs
  storage/blockchain/src/ops/blockchain.rs
  storage/blockchain/src/ops/mod.rs
  storage/blockchain/src/ops/tx.rs
  storage/blockchain/src/service/mod.rs
  storage/blockchain/src/service/tests.rs
  storage/database/src/backend/tests.rs
  storage/database/src/resize.rs
  test-utils/src/data/mod.rs
  test-utils/src/data/statics.rs
Labels: A-test-utils, A-consensus, A-storage, A-helper

#255 rpc: remove temporary lints
  rpc/interface/src/lib.rs
  rpc/interface/src/route/bin.rs
  rpc/interface/src/router_builder.rs
  rpc/interface/src/rpc_error.rs
  rpc/interface/src/rpc_handler.rs
  rpc/interface/src/rpc_handler_dummy.rs
  rpc/json-rpc/src/lib.rs
  rpc/types/src/bin.rs
  rpc/types/src/defaults.rs
  rpc/types/src/free.rs
  rpc/types/src/json.rs
  rpc/types/src/lib.rs
  rpc/types/src/misc/distribution.rs
  rpc/types/src/misc/misc.rs
  rpc/types/src/misc/tx_entry.rs
  rpc/types/src/other.rs
  rpc/types/src/serde.rs
  storage/blockchain/src/lib.rs
  storage/database/src/lib.rs
Labels: A-storage, C-cleanup, A-rpc

#258 Binaries: add cuprated skeleton
  Cargo.lock
  Cargo.toml
  binaries/cuprated/Cargo.toml
  binaries/cuprated/src/blockchain.rs
  binaries/cuprated/src/blockchain/manager.rs
  binaries/cuprated/src/blockchain/syncer.rs
  binaries/cuprated/src/config.rs
  binaries/cuprated/src/main.rs
  binaries/cuprated/src/p2p.rs
  binaries/cuprated/src/p2p/request_handler.rs
  binaries/cuprated/src/rpc.rs
  binaries/cuprated/src/rpc/request_handler.rs
  binaries/cuprated/src/txpool.rs
  deny.toml
Labels: A-dependency, A-workspace, A-binaries

#259 Update Zed in ENVIRONMENT-ADVICE.md
  misc/ENVIRONMENT-ADVICE.md
Labels: A-workspace, A-docs

#257 dandelion-tower: improve API
  p2p/dandelion-tower/src/lib.rs
  p2p/dandelion-tower/src/pool.rs
  p2p/dandelion-tower/src/pool/incoming_tx.rs
  p2p/dandelion-tower/src/pool/manager.rs
  p2p/dandelion-tower/src/pool/mod.rs
  p2p/dandelion-tower/src/router.rs
  p2p/dandelion-tower/src/tests/mod.rs
  p2p/dandelion-tower/src/tests/pool.rs
  p2p/dandelion-tower/src/traits.rs
Labels: A-p2p

#238 Storage: tx-pool database
  Cargo.lock
  consensus/src/lib.rs
  helper/src/fs.rs
  storage/blockchain/Cargo.toml
  storage/blockchain/src/constants.rs
  storage/blockchain/src/lib.rs
  storage/blockchain/src/tables.rs
  storage/blockchain/src/types.rs
  storage/txpool/Cargo.toml
  storage/txpool/README.md
  storage/txpool/src/config.rs
  storage/txpool/src/free.rs
  storage/txpool/src/lib.rs
  storage/txpool/src/ops.rs
  storage/txpool/src/ops/key_images.rs
  storage/txpool/src/ops/tx_read.rs
  storage/txpool/src/ops/tx_write.rs
  storage/txpool/src/service.rs
  storage/txpool/src/service/free.rs
  storage/txpool/src/service/interface.rs
  storage/txpool/src/service/read.rs
  storage/txpool/src/service/types.rs
  storage/txpool/src/service/write.rs
  storage/txpool/src/tables.rs
  storage/txpool/src/types.rs
  types/src/transaction_verification_data.rs
Labels: A-dependency, A-workspace, A-consensus, A-docs, A-storage, A-helper, A-types
