Repository Cuprate/cuprate, pull requests merged in 2024-10, with the labels that each got.

#280 Add `constants/` crate
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  books/architecture/src/appendix/crates.md
  consensus/rules/Cargo.toml
  consensus/rules/src/miner_tx.rs
  consensus/rules/src/transactions/tests.rs
  constants/Cargo.toml
  constants/README.md
  constants/build.rs
  constants/src/block.rs
  constants/src/build.rs
  constants/src/lib.rs
  constants/src/macros.rs
  constants/src/rpc.rs
  helper/Cargo.toml
  helper/src/constants.rs
  helper/src/lib.rs
  helper/src/map.rs
  p2p/address-book/Cargo.toml
  p2p/address-book/src/peer_list.rs
  p2p/p2p/Cargo.toml
  p2p/p2p/src/block_downloader.rs
  p2p/p2p/src/block_downloader/block_queue.rs
  p2p/p2p/src/block_downloader/chain_tracker.rs
  pruning/Cargo.toml
  pruning/src/lib.rs
  storage/blockchain/Cargo.toml
  storage/blockchain/src/service/free.rs
  storage/database/README.md
Labels: A-p2p, A-dependency, A-workspace, A-consensus, A-docs, A-storage, A-helper, A-pruning, A-ci, A-books, A-book-architecture

#306 P2P: move seed nodes to config
  p2p/address-book/src/book/tests.rs
  p2p/address-book/src/peer_list/tests.rs
  p2p/address-book/src/store.rs
  p2p/p2p-core/src/lib.rs
  p2p/p2p-core/src/network_zones/clear.rs
  p2p/p2p-core/tests/fragmented_handshake.rs
  p2p/p2p-core/tests/handshake.rs
  p2p/p2p/src/broadcast.rs
  p2p/p2p/src/config.rs
  p2p/p2p/src/connection_maintainer.rs
  test-utils/src/test_netzone.rs
Labels: A-p2p, A-test-utils

#271 cryptonight in pure Rust
  Cargo.lock
  cryptonight/Cargo.toml
  cryptonight/build.rs
  cryptonight/c/CryptonightR_JIT.c
  cryptonight/c/CryptonightR_JIT.h
  cryptonight/c/CryptonightR_template.S
  cryptonight/c/CryptonightR_template.h
  cryptonight/c/aesb.c
  cryptonight/c/blake256.c
  cryptonight/c/blake256.h
  cryptonight/c/crypto-ops-data.c
  cryptonight/c/generic-ops.h
  cryptonight/c/groestl.c
  cryptonight/c/groestl.h
  cryptonight/c/groestl_tables.h
  cryptonight/c/hash-extra-blake.c
  cryptonight/c/hash-extra-groestl.c
  cryptonight/c/hash-extra-jh.c
  cryptonight/c/hash-extra-skein.c
  cryptonight/c/hash-ops.h
  cryptonight/c/hash.c
  cryptonight/c/hash.h
  cryptonight/c/int-util.h
  cryptonight/c/jh.c
  cryptonight/c/jh.h
  cryptonight/c/keccak.c
  cryptonight/c/keccak.h
  cryptonight/c/memwipe.c
  cryptonight/c/memwipe.h
  cryptonight/c/oaes_lib.c
  cryptonight/c/oaes_lib.h
  cryptonight/c/skein.c
  cryptonight/c/skein.h
  cryptonight/c/skein_port.h
  cryptonight/c/slow-hash.c
  cryptonight/c/variant2_int_sqrt.h
  cryptonight/c/variant4_random_math.h
  cryptonight/c/warnings.h
  cryptonight/src/blake256.rs
  cryptonight/src/cnaes.rs
  cryptonight/src/hash_v2.rs
  cryptonight/src/hash_v4.rs
  cryptonight/src/lib.rs
  cryptonight/src/slow_hash.rs
  cryptonight/src/util.rs
Labels: A-dependency, A-workspace, A-cryptonight

#274 cuprated: Blockchain Manager
  Cargo.lock
  binaries/cuprated/Cargo.toml
  binaries/cuprated/src/blockchain.rs
  binaries/cuprated/src/blockchain/chain_service.rs
  binaries/cuprated/src/blockchain/interface.rs
  binaries/cuprated/src/blockchain/manager.rs
  binaries/cuprated/src/blockchain/manager/commands.rs
  binaries/cuprated/src/blockchain/manager/handler.rs
  binaries/cuprated/src/blockchain/syncer.rs
  binaries/cuprated/src/blockchain/types.rs
  binaries/cuprated/src/constants.rs
  binaries/cuprated/src/main.rs
  binaries/cuprated/src/p2p.rs
  binaries/cuprated/src/signals.rs
  consensus/src/block.rs
  consensus/src/lib.rs
  p2p/p2p-core/src/lib.rs
  p2p/p2p/src/block_downloader.rs
  p2p/p2p/src/client_pool.rs
  p2p/p2p/src/config.rs
  p2p/p2p/src/constants.rs
  p2p/p2p/src/lib.rs
Labels: A-p2p, A-dependency, A-workspace, A-consensus, A-binaries

#310 rpc-types: fix `HardForkInfoRequest`
  rpc/types/src/json.rs
  test-utils/src/rpc/data/json.rs
Labels: A-test-utils, A-rpc

#309 types: `HardFork` improvements
  Cargo.lock
  Cargo.toml
  types/Cargo.toml
  types/src/hard_fork.rs
Labels: A-dependency, A-workspace, A-types

#318 Move consensus context service into a subcrate.
  Cargo.lock
  Cargo.toml
  binaries/cuprated/Cargo.toml
  binaries/cuprated/src/blockchain/manager.rs
  binaries/cuprated/src/blockchain/manager/handler.rs
  binaries/cuprated/src/rpc/request/blockchain_context.rs
  books/architecture/src/appendix/crates.md
  consensus/Cargo.toml
  consensus/context/Cargo.toml
  consensus/context/src/alt_chains.rs
  consensus/context/src/difficulty.rs
  consensus/context/src/hardforks.rs
  consensus/context/src/lib.rs
  consensus/context/src/rx_vms.rs
  consensus/context/src/task.rs
  consensus/context/src/tokens.rs
  consensus/context/src/weight.rs
  consensus/fast-sync/Cargo.toml
  consensus/fast-sync/src/fast_sync.rs
  consensus/src/block.rs
  consensus/src/block/alt_block.rs
  consensus/src/block/batch_prepare.rs
  consensus/src/lib.rs
  consensus/src/tests/context.rs
  consensus/src/tests/context/difficulty.rs
  consensus/src/tests/context/hardforks.rs
  consensus/src/tests/context/rx_vms.rs
  consensus/src/tests/context/weight.rs
Labels: A-dependency, A-workspace, A-consensus, A-docs, A-books, A-binaries, A-book-architecture

#323 storage: Add common amounts commitment lookup table
  constants/Cargo.toml
  helper/Cargo.toml
  helper/src/crypto.rs
  helper/src/lib.rs
  storage/blockchain/Cargo.toml
  storage/blockchain/src/ops/output.rs
  storage/blockchain/src/ops/tx.rs
Labels: A-dependency, A-storage, A-helper, A-constants

#326 workspace: Defines cuprate members as workspace dependencies
  Cargo.toml
  binaries/cuprated/Cargo.toml
  consensus/Cargo.toml
  consensus/context/Cargo.toml
  consensus/fast-sync/Cargo.toml
  consensus/rules/Cargo.toml
  helper/Cargo.toml
  net/epee-encoding/Cargo.toml
  net/levin/Cargo.toml
  net/wire/Cargo.toml
  p2p/address-book/Cargo.toml
  p2p/p2p-core/Cargo.toml
  p2p/p2p/Cargo.toml
  pruning/Cargo.toml
  rpc/interface/Cargo.toml
  rpc/types/Cargo.toml
  storage/blockchain/Cargo.toml
  storage/service/Cargo.toml
  storage/txpool/Cargo.toml
  test-utils/Cargo.toml
  types/Cargo.toml
Labels: A-p2p, A-test-utils, A-dependency, A-workspace, A-consensus, A-storage, A-helper, A-net, A-pruning, A-types, A-rpc, A-binaries

#312 cuprated: txpool
  Cargo.lock
  Cargo.toml
  binaries/cuprated/Cargo.toml
  binaries/cuprated/src/blockchain.rs
  binaries/cuprated/src/blockchain/interface.rs
  binaries/cuprated/src/blockchain/manager.rs
  binaries/cuprated/src/blockchain/manager/handler.rs
  binaries/cuprated/src/blockchain/syncer.rs
  binaries/cuprated/src/blockchain/types.rs
  binaries/cuprated/src/p2p.rs
  binaries/cuprated/src/p2p/network_address.rs
  binaries/cuprated/src/statics.rs
  binaries/cuprated/src/txpool.rs
  binaries/cuprated/src/txpool/dandelion.rs
  binaries/cuprated/src/txpool/dandelion/diffuse_service.rs
  binaries/cuprated/src/txpool/dandelion/stem_service.rs
  binaries/cuprated/src/txpool/dandelion/tx_store.rs
  binaries/cuprated/src/txpool/incoming_tx.rs
  binaries/cuprated/src/txpool/txs_being_handled.rs
  p2p/dandelion-tower/src/router.rs
  p2p/p2p/src/client_pool.rs
  p2p/p2p/src/lib.rs
  storage/service/src/service/write.rs
  storage/txpool/Cargo.toml
  storage/txpool/src/free.rs
  storage/txpool/src/lib.rs
  storage/txpool/src/ops.rs
  storage/txpool/src/ops/tx_read.rs
  storage/txpool/src/ops/tx_write.rs
  storage/txpool/src/service/interface.rs
  storage/txpool/src/service/read.rs
  storage/txpool/src/service/write.rs
  storage/txpool/src/tables.rs
  storage/txpool/src/types.rs
Labels: A-p2p, A-dependency, A-workspace, A-storage, A-binaries
