Repository Cuprate/cuprate, pull requests merged in 2024-05, with the labels that each got.

#137 repo: add issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/discussion.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/proposal.md
  .github/ISSUE_TEMPLATE/question.md
Labels: A-docs, A-ci, P-low

#140 storage: create Cargo.toml for `{database, cuprate-txpool}`
  storage/cuprate-txpool/Cargo.toml
  storage/database/Cargo.toml
Labels: A-dependency, A-storage

#141 books: add skeleton and docs
  .gitignore
  CONTRIBUTING.md
  LICENSE
  books/README.md
  books/architecture/README.md
  books/architecture/book.toml
  books/architecture/src/SUMMARY.md
  books/architecture/src/todo.md
  books/protocol/README.md
Labels: A-workspace, A-docs, A-books, A-book-architecture, A-book-protocol

#65 Cleanup & Document consensus
  Cargo.lock
  Cargo.toml
  consensus/Cargo.toml
  consensus/README.md
  consensus/rules/Cargo.toml
  consensus/rules/src/blocks.rs
  consensus/rules/src/hard_forks/tests.rs
  consensus/rules/src/miner_tx.rs
  consensus/rules/src/transactions.rs
  consensus/rules/src/transactions/contextual_data.rs
  consensus/rules/src/transactions/ring_ct.rs
  consensus/rules/src/transactions/tests.rs
  consensus/src/batch_verifier.rs
  consensus/src/bin/scan_chain.rs
  consensus/src/block.rs
  consensus/src/context.rs
  consensus/src/context/difficulty.rs
  consensus/src/context/hardforks.rs
  consensus/src/context/rx_vms.rs
  consensus/src/context/task.rs
  consensus/src/context/tokens.rs
  consensus/src/context/weight.rs
  consensus/src/lib.rs
  consensus/src/randomx.rs
  consensus/src/rpc.rs
  consensus/src/rpc/cache.rs
  consensus/src/rpc/connection.rs
  consensus/src/rpc/discover.rs
  consensus/src/tests/context.rs
  consensus/src/tests/context/data.rs
  consensus/src/tests/context/difficulty.rs
  consensus/src/tests/context/hardforks.rs
  consensus/src/tests/context/rx_vms.rs
  consensus/src/transactions.rs
  consensus/src/transactions/contextual_data.rs
  consensus/src/transactions/output_cache.rs
  consensus/tests/verify_correct_txs.rs
Labels: A-dependency, A-workspace, A-consensus, A-docs
