Repository Cuprate/cuprate, pull requests merged in 2024-07, with the labels that each got.

#204 P2P: Fix freeze in D++
  p2p/dandelion-tower/Cargo.toml
  p2p/dandelion-tower/src/lib.rs
  p2p/dandelion-tower/src/router.rs
  p2p/dandelion-tower/src/tests/mod.rs
Labels: A-p2p, A-dependency, C-fix

#205 P2P: fix block downloader test
  p2p/p2p/src/block_downloader/tests.rs
Labels: A-p2p, C-fix

#198 storage: add key sorting
  storage/blockchain/src/open_tables.rs
  storage/blockchain/src/types.rs
  storage/database/src/backend/heed/env.rs
  storage/database/src/backend/heed/storable.rs
  storage/database/src/backend/heed/types.rs
  storage/database/src/backend/redb/env.rs
  storage/database/src/backend/redb/storable.rs
  storage/database/src/backend/tests.rs
  storage/database/src/env.rs
  storage/database/src/key.rs
  storage/database/src/lib.rs
  storage/database/src/storable.rs
  storage/database/src/tests.rs
Labels: A-storage, C-fix

#206 Storage: add blockchain history requests
  Cargo.lock
  p2p/p2p/src/block_downloader.rs
  p2p/p2p/src/block_downloader/request_chain.rs
  p2p/p2p/src/block_downloader/tests.rs
  storage/blockchain/Cargo.toml
  storage/blockchain/src/service/free.rs
  storage/blockchain/src/service/read.rs
  types/src/blockchain.rs
Labels: A-p2p, A-dependency, A-workspace, A-storage, A-types

#203 ci: add `doc.yml`
  .github/workflows/doc.yml
  CONTRIBUTING.md
  README.md
Labels: A-workspace, A-docs, A-ci

#213 ci: fix `doc.yml`
  .github/workflows/doc.yml
  Cargo.lock
  storage/blockchain/Cargo.toml
  types/src/blockchain.rs
Labels: A-dependency, A-workspace, A-storage, A-types, A-ci

#168 P2P: API Improvements
  Cargo.lock
  net/wire/src/lib.rs
  net/wire/src/p2p.rs
  net/wire/src/p2p/protocol.rs
  p2p/address-book/src/book.rs
  p2p/address-book/src/book/tests.rs
  p2p/address-book/src/lib.rs
  p2p/address-book/src/store.rs
  p2p/dandelion-tower/src/config.rs
  p2p/dandelion-tower/src/pool.rs
  p2p/dandelion-tower/src/router.rs
  p2p/p2p-core/Cargo.toml
  p2p/p2p-core/src/client.rs
  p2p/p2p-core/src/client/connection.rs
  p2p/p2p-core/src/client/connector.rs
  p2p/p2p-core/src/client/handshaker.rs
  p2p/p2p-core/src/client/handshaker/builder.rs
  p2p/p2p-core/src/client/handshaker/builder/dummy.rs
  p2p/p2p-core/src/client/request_handler.rs
  p2p/p2p-core/src/client/timeout_monitor.rs
  p2p/p2p-core/src/handles.rs
  p2p/p2p-core/src/lib.rs
  p2p/p2p-core/src/protocol.rs
  p2p/p2p-core/src/protocol/try_from.rs
  p2p/p2p-core/src/services.rs
  p2p/p2p-core/tests/fragmented_handshake.rs
  p2p/p2p-core/tests/handles.rs
  p2p/p2p-core/tests/handshake.rs
  p2p/p2p-core/tests/sending_receiving.rs
  p2p/p2p-core/tests/utils.rs
  p2p/p2p/Cargo.toml
  p2p/p2p/src/block_downloader/block_queue.rs
  p2p/p2p/src/block_downloader/download_batch.rs
  p2p/p2p/src/block_downloader/request_chain.rs
  p2p/p2p/src/block_downloader/tests.rs
  p2p/p2p/src/broadcast.rs
  p2p/p2p/src/client_pool.rs
  p2p/p2p/src/connection_maintainer.rs
  p2p/p2p/src/inbound_server.rs
  p2p/p2p/src/lib.rs
  p2p/p2p/src/sync_states.rs
Labels: A-p2p, A-dependency, A-workspace, A-net

#215 Storage: fix lifetimes
  storage/blockchain/src/free.rs
  storage/blockchain/src/open_tables.rs
  storage/database/Cargo.toml
  storage/database/src/backend/heed/env.rs
  storage/database/src/backend/redb/env.rs
  storage/database/src/env.rs
Labels: A-dependency, A-storage, C-fix

#218 rpc: feature flags, macro changes, misc setup
  rpc/types/Cargo.toml
  rpc/types/README.md
  rpc/types/src/base.rs
  rpc/types/src/constants.rs
  rpc/types/src/defaults.rs
  rpc/types/src/free.rs
  rpc/types/src/json.rs
  rpc/types/src/lib.rs
  rpc/types/src/macros.rs
  rpc/types/src/misc/binary_string.rs
  rpc/types/src/misc/block_complete_entry.rs
  rpc/types/src/misc/key_image_spent_status.rs
  rpc/types/src/misc/misc.rs
  rpc/types/src/misc/mod.rs
  rpc/types/src/misc/pool_info_extent.rs
  rpc/types/src/misc/status.rs
  rpc/types/src/misc/tx_entry.rs
  rpc/types/src/other.rs
Labels: A-dependency, A-docs, A-rpc

#133 workspace: add lints
  Cargo.toml
Labels: A-dependency, A-workspace, P-low

#219 rpc: implement `/json_rpc` types
  rpc/types/src/json.rs
Labels: A-rpc

#220 rpc: implement `.bin` types
  rpc/types/src/bin.rs
Labels: A-rpc

#225 database: workaround `redb` page freeing issue
  storage/database/src/backend/redb/env.rs
  storage/database/src/config/sync_mode.rs
Labels: A-storage, C-fix

#221 rpc: implement other JSON types
  rpc/types/src/other.rs
Labels: A-rpc

#226 fixed-bytes: add `serde`, document feature flags
  Cargo.lock
  net/fixed-bytes/Cargo.toml
  net/fixed-bytes/README.md
  net/fixed-bytes/src/lib.rs
Labels: A-dependency, A-workspace, A-docs, A-net

#222 storage: move table generator macro `blockchain` -> `database`
  Cargo.lock
  storage/blockchain/Cargo.toml
  storage/blockchain/README.md
  storage/blockchain/src/free.rs
  storage/blockchain/src/lib.rs
  storage/blockchain/src/open_tables.rs
  storage/blockchain/src/ops/block.rs
  storage/blockchain/src/ops/blockchain.rs
  storage/blockchain/src/ops/key_image.rs
  storage/blockchain/src/ops/mod.rs
  storage/blockchain/src/ops/output.rs
  storage/blockchain/src/ops/tx.rs
  storage/blockchain/src/service/read.rs
  storage/blockchain/src/service/tests.rs
  storage/blockchain/src/service/write.rs
  storage/blockchain/src/tables.rs
  storage/blockchain/src/tests.rs
  storage/database/Cargo.toml
  storage/database/README.md
  storage/database/src/lib.rs
  storage/database/src/tables.rs
Labels: A-dependency, A-workspace, A-docs, A-storage

#228 storage: doc fixes
  storage/blockchain/README.md
  storage/blockchain/src/config/reader_threads.rs
  storage/blockchain/src/free.rs
  storage/blockchain/src/ops/block.rs
  storage/blockchain/src/ops/mod.rs
  storage/database/README.md
  storage/database/src/config/config.rs
  storage/database/src/config/sync_mode.rs
  storage/database/src/env.rs
  storage/database/src/error.rs
  storage/database/src/storable.rs
  storage/database/src/table.rs
  storage/database/src/tables.rs
  storage/database/src/transaction.rs
Labels: A-docs, A-storage, C-cleanup

#227 rpc: use `ByteArrayVec` and `ContainerAsBlob`
  Cargo.lock
  net/fixed-bytes/Cargo.toml
  net/fixed-bytes/src/lib.rs
  rpc/types/Cargo.toml
  rpc/types/README.md
  rpc/types/src/bin.rs
  rpc/types/src/json.rs
  rpc/types/src/macros.rs
  rpc/types/src/other.rs
Labels: A-dependency, A-workspace, A-docs, A-net, A-rpc

#230 types: add `BlockCompleteEntry`
  Cargo.lock
  net/wire/Cargo.toml
  net/wire/src/p2p/common.rs
  net/wire/src/p2p/protocol.rs
  p2p/p2p/Cargo.toml
  p2p/p2p/src/block_downloader/tests.rs
  p2p/p2p/src/broadcast.rs
  types/Cargo.toml
  types/README.md
  types/src/block_complete_entry.rs
  types/src/lib.rs
Labels: A-p2p, A-dependency, A-workspace, A-docs, A-net, A-types

#216 Books: document p2p protocol
  books/protocol/src/SUMMARY.md
  books/protocol/src/p2p_network.md
  books/protocol/src/p2p_network/common_types.md
  books/protocol/src/p2p_network/epee.md
  books/protocol/src/p2p_network/levin.md
  books/protocol/src/p2p_network/levin/admin.md
  books/protocol/src/p2p_network/levin/protocol.md
  books/protocol/src/p2p_network/message_flows.md
  books/protocol/src/p2p_network/message_flows/chain_sync.md
  books/protocol/src/p2p_network/message_flows/get_blocks.md
  books/protocol/src/p2p_network/message_flows/handshake.md
  books/protocol/src/p2p_network/message_flows/new_block.md
  books/protocol/src/p2p_network/message_flows/new_transactions.md
  books/protocol/src/p2p_network/message_flows/timed_sync.md
  books/protocol/src/p2p_network/messages.md
Labels: A-docs, A-books, A-book-protocol

#231 test-utils: add `crate::rpc::data` module
  Cargo.lock
  test-utils/Cargo.toml
  test-utils/README.md
  test-utils/src/data/free.rs
  test-utils/src/rpc/client.rs
  test-utils/src/rpc/constants.rs
  test-utils/src/rpc/data/bin.rs
  test-utils/src/rpc/data/json.rs
  test-utils/src/rpc/data/macros.rs
  test-utils/src/rpc/data/mod.rs
  test-utils/src/rpc/data/other.rs
  test-utils/src/rpc/mod.rs
  typos.toml
Labels: A-test-utils, A-dependency, A-workspace, A-docs

#234 workspace: fix lint error
  Cargo.toml
  helper/src/time.rs
  p2p/dandelion-tower/src/pool.rs
  p2p/p2p/src/block_downloader.rs
  p2p/p2p/src/block_downloader/block_queue.rs
Labels: A-p2p, A-dependency, A-workspace, A-helper

#232 rpc: add JSON doc-tests
  Cargo.lock
  rpc/types/Cargo.toml
  rpc/types/src/base.rs
  rpc/types/src/defaults.rs
  rpc/types/src/json.rs
  rpc/types/src/misc/misc.rs
  rpc/types/src/other.rs
  test-utils/src/rpc/data/json.rs
  test-utils/src/rpc/data/other.rs
  typos.toml
Labels: A-test-utils, A-dependency, A-workspace, A-rpc

#214 Consensus: add alt-chain handling
  Cargo.lock
  consensus/Cargo.toml
  consensus/fast-sync/src/create.rs
  consensus/rules/src/blocks.rs
  consensus/rules/src/hard_forks.rs
  consensus/src/block.rs
  consensus/src/block/alt_block.rs
  consensus/src/block/batch_prepare.rs
  consensus/src/block/free.rs
  consensus/src/context.rs
  consensus/src/context/alt_chains.rs
  consensus/src/context/difficulty.rs
  consensus/src/context/hardforks.rs
  consensus/src/context/rx_vms.rs
  consensus/src/context/task.rs
  consensus/src/context/weight.rs
  consensus/src/tests/context/difficulty.rs
  consensus/src/tests/context/hardforks.rs
  consensus/src/tests/context/weight.rs
  consensus/src/tests/mock_db.rs
  helper/src/num.rs
  helper/src/num/rolling_median.rs
  storage/blockchain/src/service/mod.rs
  storage/blockchain/src/service/read.rs
  storage/blockchain/src/service/tests.rs
  types/src/blockchain.rs
  types/src/lib.rs
  types/src/types.rs
Labels: A-dependency, A-workspace, A-consensus, A-storage, A-helper, A-types, P-medium

#240 books: fix typo
  books/protocol/src/p2p_network/levin/admin.md
Labels: A-docs, A-books, A-book-protocol

#239 architecture-book: add `Crates` section
  books/architecture/src/SUMMARY.md
  books/architecture/src/appendix/crate-documentation.md
  books/architecture/src/appendix/crates.md
  books/architecture/src/intro.md
Labels: A-docs, A-books, A-book-architecture
