Repository Cuprate/cuprate, pull requests merged in 2024-06, with the labels that each got.

#130 P2P: Network init
  Cargo.toml
  p2p/address-book/Cargo.toml
  p2p/address-book/src/book.rs
  p2p/address-book/src/lib.rs
  p2p/async-buffer/src/lib.rs
  p2p/cuprate-p2p/Cargo.toml
  p2p/cuprate-p2p/src/broadcast.rs
  p2p/cuprate-p2p/src/client_pool.rs
  p2p/cuprate-p2p/src/client_pool/disconnect_monitor.rs
  p2p/cuprate-p2p/src/client_pool/drop_guard_client.rs
  p2p/cuprate-p2p/src/config.rs
  p2p/cuprate-p2p/src/connection_maintainer.rs
  p2p/cuprate-p2p/src/constants.rs
  p2p/cuprate-p2p/src/inbound_server.rs
  p2p/cuprate-p2p/src/lib.rs
  p2p/cuprate-p2p/src/sync_states.rs
  p2p/dandelion/Cargo.toml
  p2p/monero-p2p/src/client.rs
  p2p/monero-p2p/src/lib.rs
  p2p/monero-p2p/src/network_zones/clear.rs
  p2p/monero-p2p/src/services.rs
  p2p/monero-p2p/tests/fragmented_handshake.rs
  p2p/monero-p2p/tests/handshake.rs
  test-utils/src/test_netzone.rs
Labels: A-p2p, A-test-utils, A-dependency, A-workspace

#145 Consensus: use `cuprate-types` types
  Cargo.lock
  consensus/Cargo.toml
  consensus/rules/src/hard_forks.rs
  consensus/rules/src/transactions/contextual_data.rs
  consensus/src/block.rs
  consensus/src/context/difficulty.rs
  consensus/src/context/hardforks.rs
  consensus/src/context/rx_vms.rs
  consensus/src/context/task.rs
  consensus/src/context/weight.rs
  consensus/src/lib.rs
  consensus/src/tests/mock_db.rs
  consensus/src/transactions.rs
  consensus/src/transactions/contextual_data.rs
  consensus/tests/verify_correct_txs.rs
  storage/cuprate-blockchain/Cargo.toml
  storage/cuprate-blockchain/src/service/mod.rs
  storage/cuprate-blockchain/src/service/read.rs
  storage/cuprate-blockchain/src/service/tests.rs
  storage/cuprate-blockchain/src/service/types.rs
  storage/cuprate-blockchain/src/service/write.rs
  test-utils/src/data/free.rs
  test-utils/src/data/mod.rs
  test-utils/src/rpc/client.rs
  types/Cargo.toml
  types/src/blockchain.rs
  types/src/lib.rs
  types/src/types.rs
Labels: A-test-utils, A-dependency, A-workspace, A-consensus, A-storage, A-types

#146 rpc: add initial crates
  Cargo.lock
  Cargo.toml
  rpc/README.md
  rpc/cuprate-rpc-interface/Cargo.toml
  rpc/cuprate-rpc-interface/src/lib.rs
  rpc/json-rpc/Cargo.toml
  rpc/json-rpc/src/lib.rs
  rpc/monero-rpc-types/Cargo.toml
  rpc/monero-rpc-types/src/lib.rs
Labels: A-dependency, A-workspace, A-docs, A-rpc

#152 Consensus: fix panic in batch verifier
  Cargo.lock
  consensus/rules/src/batch_verifier.rs
  consensus/rules/src/lib.rs
  consensus/rules/src/transactions.rs
  consensus/rules/src/transactions/ring_ct.rs
  consensus/src/batch_verifier.rs
  consensus/src/transactions.rs
Labels: A-dependency, A-workspace, A-consensus, C-fix, I-panic

#154 books: add `user-book` template
  .github/labeler.yml
  books/README.md
  books/user/README.md
  books/user/book.toml
  books/user/src/SUMMARY.md
  books/user/src/todo.md
Labels: A-docs, A-ci, A-books, A-book-user

#155 Fast sync (WIP)
  Cargo.lock
  Cargo.toml
  consensus/fast-sync/Cargo.toml
  consensus/fast-sync/src/create.rs
  consensus/fast-sync/src/data/hashes_of_hashes
  consensus/fast-sync/src/fast_sync.rs
  consensus/fast-sync/src/lib.rs
  consensus/fast-sync/src/util.rs
Labels: A-dependency, A-workspace, A-consensus

#148 rpc: implement `json-rpc` crate
  Cargo.lock
  rpc/json-rpc/Cargo.toml
  rpc/json-rpc/README.md
  rpc/json-rpc/src/error/code.rs
  rpc/json-rpc/src/error/constants.rs
  rpc/json-rpc/src/error/mod.rs
  rpc/json-rpc/src/error/object.rs
  rpc/json-rpc/src/id.rs
  rpc/json-rpc/src/lib.rs
  rpc/json-rpc/src/request.rs
  rpc/json-rpc/src/response.rs
  rpc/json-rpc/src/tests.rs
  rpc/json-rpc/src/version.rs
Labels: A-dependency, A-workspace, A-docs, A-rpc

#158 ci: update `actions/cache` -> `v4`
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/deny.yml
Labels: A-ci, P-low

#161 Fix clippy & Cargo update
  Cargo.lock
  deny.toml
  rpc/json-rpc/src/id.rs
  rpc/json-rpc/src/tests.rs
Labels: A-dependency, A-workspace, A-rpc

#144 contributing: add crate naming rules
  CONTRIBUTING.md
Labels: A-workspace, A-docs, P-low

#143 docs: update `README.md` & `SECURITY.md`
  README.md
  SECURITY.md
Labels: A-workspace, A-docs, P-low

#150 contributing: add & format sections
  CONTRIBUTING.md
Labels: A-workspace, A-docs, P-low

#156 Fast sync part 2
  Cargo.lock
  consensus/fast-sync/Cargo.toml
  consensus/fast-sync/src/fast_sync.rs
Labels: A-dependency, A-workspace, A-consensus

#171 Cargo update
  Cargo.lock
Labels: A-dependency, A-workspace

#184 epee: unseal `trait EpeeValue`
  Cargo.lock
  net/epee-encoding/Cargo.toml
  net/epee-encoding/src/container_as_blob.rs
  net/epee-encoding/src/value.rs
Labels: A-dependency, A-workspace, A-net

#182 repo: add `Tracking Issue` issue template
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/proposal.md
  .github/ISSUE_TEMPLATE/tracking_issue.md
Labels: A-docs, A-ci

#185 epee: make `{read,write}_varint` public, create `write_{bytes,container}`
  net/epee-encoding/src/lib.rs
  net/epee-encoding/src/value.rs
  net/epee-encoding/src/varint.rs
Labels: A-net

#132 P2P: Block downloader
  Cargo.lock
  Cargo.toml
  p2p/cuprate-p2p/Cargo.toml
  p2p/cuprate-p2p/src/block_downloader.rs
  p2p/cuprate-p2p/src/block_downloader/block_queue.rs
  p2p/cuprate-p2p/src/block_downloader/chain_tracker.rs
  p2p/cuprate-p2p/src/block_downloader/download_batch.rs
  p2p/cuprate-p2p/src/block_downloader/request_chain.rs
  p2p/cuprate-p2p/src/block_downloader/tests.rs
  p2p/cuprate-p2p/src/client_pool.rs
  p2p/cuprate-p2p/src/constants.rs
  p2p/cuprate-p2p/src/lib.rs
  p2p/monero-p2p/Cargo.toml
  p2p/monero-p2p/src/client.rs
Labels: A-p2p, A-dependency, A-workspace

#186 contributing: expand issue/PR sections, re-format
  .github/pull_request_template.md
  CONTRIBUTING.md
Labels: A-workspace, A-docs, A-ci

#169 books: move in protocol book
  README.md
  books/README.md
  books/protocol/README.md
  books/protocol/book.toml
  books/protocol/src/INTRO.md
  books/protocol/src/SUMMARY.md
  books/protocol/src/consensus_rules.md
  books/protocol/src/consensus_rules/blocks.md
  books/protocol/src/consensus_rules/blocks/difficulty.md
  books/protocol/src/consensus_rules/blocks/miner_tx.md
  books/protocol/src/consensus_rules/blocks/reward.md
  books/protocol/src/consensus_rules/blocks/weights.md
  books/protocol/src/consensus_rules/genesis_block.md
  books/protocol/src/consensus_rules/hardforks.md
  books/protocol/src/consensus_rules/transactions.md
  books/protocol/src/consensus_rules/transactions/inputs.md
  books/protocol/src/consensus_rules/transactions/outputs.md
  books/protocol/src/consensus_rules/transactions/ring_ct.md
  books/protocol/src/consensus_rules/transactions/ring_ct/borromean.md
  books/protocol/src/consensus_rules/transactions/ring_ct/bulletproofs+.md
  books/protocol/src/consensus_rules/transactions/ring_ct/bulletproofs.md
  books/protocol/src/consensus_rules/transactions/ring_ct/clsag.md
  books/protocol/src/consensus_rules/transactions/ring_ct/mlsag.md
  books/protocol/src/consensus_rules/transactions/ring_signatures.md
  books/protocol/src/consensus_rules/transactions/unlock_time.md
  books/protocol/src/p2p_network.md
  books/protocol/src/p2p_network/epee.md
  books/protocol/src/p2p_network/levin.md
  books/protocol/src/p2p_network/messages.md
  books/protocol/src/pruning.md
  books/protocol/svgbob.css
Labels: A-workspace, A-docs, A-books, A-book-protocol

#190 Consensus: fix Rx VM initialization
  consensus/src/block.rs
  consensus/src/context.rs
  consensus/src/context/rx_vms.rs
  consensus/src/context/task.rs
  consensus/src/lib.rs
  consensus/src/tests/context/rx_vms.rs
Labels: A-consensus
