Repository Cuprate/cuprate, pull requests merged in 2024-09, with the labels that each got.

#264 helper: add and use `cast` module
  Cargo.lock
  consensus/rules/Cargo.toml
  consensus/rules/src/transactions/tests.rs
  consensus/src/block/alt_block.rs
  consensus/src/context/task.rs
  helper/Cargo.toml
  helper/src/cast.rs
  helper/src/lib.rs
  helper/src/map.rs
  net/epee-encoding/Cargo.toml
  net/epee-encoding/src/lib.rs
  net/epee-encoding/src/value.rs
  net/levin/Cargo.toml
  net/levin/src/codec.rs
  net/levin/src/lib.rs
  net/levin/src/message.rs
  net/levin/tests/fragmented_message.rs
  net/wire/Cargo.toml
  net/wire/src/p2p.rs
  storage/blockchain/Cargo.toml
  storage/blockchain/src/ops/block.rs
Labels: A-dependency, A-workspace, A-consensus, A-storage, A-helper, A-net

#261 workspace: add naming convention lints
  Cargo.toml
  clippy.toml
  consensus/src/block/alt_block.rs
  consensus/src/block/batch_prepare.rs
  consensus/src/context.rs
  consensus/src/context/alt_chains.rs
  consensus/src/context/rx_vms.rs
  consensus/src/context/task.rs
  consensus/src/tests/context/rx_vms.rs
  net/epee-encoding/tests/duplicate_key.rs
Labels: A-dependency, A-workspace, A-consensus, A-net

#263 lints: opt in manual lint crates
  Cargo.lock
  Cargo.toml
  helper/Cargo.toml
  helper/src/asynch.rs
  helper/src/atomic.rs
  helper/src/fs.rs
  helper/src/lib.rs
  helper/src/map.rs
  helper/src/network.rs
  helper/src/num.rs
  helper/src/thread.rs
  helper/src/time.rs
  rpc/interface/Cargo.toml
  rpc/interface/src/lib.rs
  rpc/json-rpc/Cargo.toml
  rpc/json-rpc/src/lib.rs
  rpc/json-rpc/src/response.rs
  rpc/json-rpc/src/tests.rs
  rpc/types/Cargo.toml
  rpc/types/src/lib.rs
  rpc/types/src/misc/mod.rs
  storage/blockchain/Cargo.toml
  storage/blockchain/src/config.rs
  storage/blockchain/src/config/mod.rs
  storage/blockchain/src/lib.rs
  storage/blockchain/src/service/free.rs
  storage/blockchain/src/service/tests.rs
  storage/database/Cargo.toml
  storage/database/src/backend/heed/env.rs
  storage/database/src/backend/heed/storable.rs
  storage/database/src/backend/redb/database.rs
  storage/database/src/config/mod.rs
  storage/database/src/env.rs
  storage/database/src/key.rs
  storage/database/src/lib.rs
  storage/txpool/Cargo.toml
  storage/txpool/src/config.rs
  storage/txpool/src/lib.rs
  storage/txpool/src/ops/key_images.rs
  storage/txpool/src/service/free.rs
  storage/txpool/src/service/read.rs
  storage/txpool/src/service/write.rs
  storage/txpool/src/types.rs
  types/Cargo.toml
  types/src/lib.rs
Labels: A-dependency, A-workspace, A-storage, A-helper, A-types, A-rpc

#265 helper: fix clippy
  helper/src/cast.rs
  helper/src/map.rs
Labels: A-helper

#266 rpc/interface: separate `RpcHandler` into 3 `tower::Service`s
  rpc/interface/README.md
  rpc/interface/src/lib.rs
  rpc/interface/src/route/bin.rs
  rpc/interface/src/route/json_rpc.rs
  rpc/interface/src/route/other.rs
  rpc/interface/src/rpc_handler.rs
  rpc/interface/src/rpc_handler_dummy.rs
  rpc/interface/src/rpc_request.rs
  rpc/interface/src/rpc_response.rs
  rpc/interface/src/rpc_service.rs
Labels: A-docs, A-rpc

#262 cuprated: initial RPC module skeleton
  Cargo.lock
  Cargo.toml
  binaries/cuprated/Cargo.toml
  binaries/cuprated/README.md
  binaries/cuprated/src/main.rs
  binaries/cuprated/src/rpc.rs
  binaries/cuprated/src/rpc/bin.rs
  binaries/cuprated/src/rpc/handler.rs
  binaries/cuprated/src/rpc/json.rs
  binaries/cuprated/src/rpc/other.rs
  binaries/cuprated/src/rpc/request_handler.rs
  rpc/interface/Cargo.toml
  rpc/interface/README.md
  rpc/interface/src/lib.rs
  rpc/interface/src/route/bin.rs
  rpc/interface/src/route/json_rpc.rs
  rpc/interface/src/route/other.rs
  rpc/interface/src/rpc_error.rs
  rpc/interface/src/rpc_handler.rs
  rpc/interface/src/rpc_handler_dummy.rs
  rpc/interface/src/rpc_service.rs
Labels: A-dependency, A-workspace, A-docs, A-rpc, A-binaries

#268 book/architecture: add resource index
  books/architecture/src/SUMMARY.md
  books/architecture/src/resource-model/intro.md
  books/architecture/src/resource-model/sockets.md
  books/architecture/src/resources/cap/intro.md
  books/architecture/src/resources/cap/map.md
  books/architecture/src/resources/cap/the-block-downloader.md
  books/architecture/src/resources/cap/the-database.md
  books/architecture/src/resources/cap/the-rpc-server.md
  books/architecture/src/resources/cap/the-verifier.md
  books/architecture/src/resources/cap/thread-exit.md
  books/architecture/src/resources/cap/threads.md
  books/architecture/src/resources/fs/intro.md
  books/architecture/src/resources/fs/paths.md
  books/architecture/src/resources/intro.md
  books/architecture/src/resources/memory.md
  books/architecture/src/resources/sockets/index.md
  books/architecture/src/resources/sockets/ports.md
Labels: A-docs, A-books, A-book-architecture

#277 P2P: Implement incoming ping request handling over maximum inbound limit
  p2p/p2p/src/constants.rs
  p2p/p2p/src/inbound_server.rs
Labels: A-p2p

#275 Storage: use `saturating_add` for `cumulative_generated_coins`
  storage/blockchain/src/ops/block.rs
Labels: A-storage

#276 consensus: misc fixes
  consensus/src/transactions.rs
  consensus/src/transactions/free.rs
Labels: A-consensus

#285 lints: replace `allow` with `expect`
  Cargo.toml
  helper/src/atomic.rs
  helper/src/map.rs
  helper/src/num.rs
  helper/src/thread.rs
  helper/src/time.rs
  rpc/interface/src/route/bin.rs
  rpc/interface/src/router_builder.rs
  rpc/interface/src/rpc_handler_dummy.rs
  rpc/json-rpc/src/tests.rs
  rpc/types/src/bin.rs
  rpc/types/src/free.rs
  rpc/types/src/json.rs
  rpc/types/src/lib.rs
  rpc/types/src/macros.rs
  rpc/types/src/misc/distribution.rs
  rpc/types/src/misc/mod.rs
  rpc/types/src/other.rs
  storage/blockchain/src/ops/block.rs
  storage/blockchain/src/ops/blockchain.rs
  storage/blockchain/src/service/read.rs
  storage/blockchain/src/service/tests.rs
  storage/blockchain/src/unsafe_sendable.rs
  storage/database/src/backend/heed/env.rs
  storage/database/src/backend/heed/error.rs
  storage/database/src/backend/tests.rs
  storage/database/src/config/mod.rs
  storage/database/src/database.rs
  storage/database/src/env.rs
  storage/database/src/resize.rs
  storage/service/src/reader_threads.rs
  storage/txpool/src/service/interface.rs
  storage/txpool/src/service/read.rs
  storage/txpool/src/types.rs
  types/src/hard_fork.rs
Labels: A-dependency, A-workspace, A-storage, A-helper, A-types, A-rpc

#284 pruning: enable workspace lints
  pruning/Cargo.toml
  pruning/src/lib.rs
Labels: A-dependency, A-pruning

#293 fixed-bytes: enable workspace lints
  net/fixed-bytes/Cargo.toml
  net/fixed-bytes/src/lib.rs
Labels: A-dependency, A-net

#283 test-utils: enable workspace lints
  Cargo.lock
  test-utils/Cargo.toml
  test-utils/src/data/statics.rs
  test-utils/src/monerod.rs
  test-utils/src/rpc/client.rs
  test-utils/src/rpc/data/macros.rs
  test-utils/src/rpc/data/other.rs
  test-utils/src/test_netzone.rs
Labels: A-test-utils, A-dependency, A-workspace

#286 p2p/address-book: enable workspace lints
  Cargo.lock
  p2p/address-book/Cargo.toml
  p2p/address-book/src/book.rs
  p2p/address-book/src/book/tests.rs
  p2p/address-book/src/peer_list.rs
  p2p/address-book/src/peer_list/tests.rs
  p2p/address-book/src/store.rs
Labels: A-p2p, A-dependency, A-workspace

#291 wire: enable workspace lints
  net/wire/Cargo.toml
  net/wire/src/network_address.rs
  net/wire/src/network_address/epee_builder.rs
  net/wire/src/p2p.rs
  net/wire/src/p2p/admin.rs
  net/wire/src/p2p/common.rs
  net/wire/src/p2p/protocol.rs
Labels: A-dependency, A-net

#260 Blockchain: add alt-block handling
  Cargo.lock
  helper/Cargo.toml
  helper/src/lib.rs
  helper/src/tx.rs
  storage/blockchain/Cargo.toml
  storage/blockchain/src/ops/alt_block/block.rs
  storage/blockchain/src/ops/alt_block/chain.rs
  storage/blockchain/src/ops/alt_block/mod.rs
  storage/blockchain/src/ops/alt_block/tx.rs
  storage/blockchain/src/ops/block.rs
  storage/blockchain/src/ops/macros.rs
  storage/blockchain/src/ops/mod.rs
  storage/blockchain/src/service/free.rs
  storage/blockchain/src/service/mod.rs
  storage/blockchain/src/service/read.rs
  storage/blockchain/src/service/tests.rs
  storage/blockchain/src/service/write.rs
  storage/blockchain/src/tables.rs
  storage/blockchain/src/tests.rs
  storage/blockchain/src/types.rs
  test-utils/Cargo.toml
  test-utils/src/data/mod.rs
  test-utils/src/data/statics.rs
  test-utils/src/rpc/client.rs
  types/src/blockchain.rs
  types/src/types.rs
Labels: A-test-utils, A-dependency, A-workspace, A-storage, A-helper, A-types

#290 Database: Split `BlockBlobs` table + Miscellaneous fixes
  storage/blockchain/Cargo.toml
  storage/blockchain/src/ops/block.rs
  storage/blockchain/src/ops/blockchain.rs
  storage/blockchain/src/ops/output.rs
  storage/blockchain/src/ops/tx.rs
  storage/blockchain/src/service/tests.rs
  storage/blockchain/src/tables.rs
  storage/blockchain/src/tests.rs
  storage/blockchain/src/types.rs
Labels: A-dependency, A-storage

#287 p2p/dandelion-tower: enable workspace lints
  p2p/dandelion-tower/Cargo.toml
  p2p/dandelion-tower/src/config.rs
  p2p/dandelion-tower/src/lib.rs
  p2p/dandelion-tower/src/pool/incoming_tx.rs
  p2p/dandelion-tower/src/pool/manager.rs
  p2p/dandelion-tower/src/router.rs
  p2p/dandelion-tower/src/tests/mod.rs
  p2p/dandelion-tower/src/tests/pool.rs
Labels: A-p2p, A-dependency

#292 levin: enable workspace lints
  Cargo.lock
  Cargo.toml
  net/levin/Cargo.toml
  net/levin/src/codec.rs
  net/levin/src/header.rs
  net/levin/src/lib.rs
  net/levin/src/message.rs
  net/levin/tests/fragmented_message.rs
Labels: A-dependency, A-workspace, A-net

#289 p2p: enable workspace lints
  p2p/p2p/Cargo.toml
  p2p/p2p/src/block_downloader.rs
  p2p/p2p/src/block_downloader/block_queue.rs
  p2p/p2p/src/block_downloader/chain_tracker.rs
  p2p/p2p/src/block_downloader/download_batch.rs
  p2p/p2p/src/block_downloader/request_chain.rs
  p2p/p2p/src/block_downloader/tests.rs
  p2p/p2p/src/broadcast.rs
  p2p/p2p/src/client_pool.rs
  p2p/p2p/src/client_pool/disconnect_monitor.rs
  p2p/p2p/src/connection_maintainer.rs
  p2p/p2p/src/inbound_server.rs
  p2p/p2p/src/lib.rs
  p2p/p2p/src/sync_states.rs
Labels: A-p2p, A-dependency

#296 `cargo upgrade`
  Cargo.lock
  Cargo.toml
  consensus/rules/Cargo.toml
  helper/Cargo.toml
  net/epee-encoding/Cargo.toml
  rpc/interface/Cargo.toml
  storage/database/Cargo.toml
Labels: A-dependency, A-workspace, A-consensus, A-storage, A-helper, A-net, A-rpc

#267 books/architecture: port database design document
  books/architecture/src/SUMMARY.md
  books/architecture/src/storage/blockchain.md
  books/architecture/src/storage/blockchain/intro.md
  books/architecture/src/storage/blockchain/schema/intro.md
  books/architecture/src/storage/blockchain/schema/multimap.md
  books/architecture/src/storage/blockchain/schema/tables.md
  books/architecture/src/storage/common/intro.md
  books/architecture/src/storage/common/ops.md
  books/architecture/src/storage/common/service/initialization.md
  books/architecture/src/storage/common/service/intro.md
  books/architecture/src/storage/common/service/requests.md
  books/architecture/src/storage/common/service/resizing.md
  books/architecture/src/storage/common/service/responses.md
  books/architecture/src/storage/common/service/shutdown.md
  books/architecture/src/storage/common/service/thread-model.md
  books/architecture/src/storage/common/types.md
  books/architecture/src/storage/database-abstraction.md
  books/architecture/src/storage/db/abstraction/backend.md
  books/architecture/src/storage/db/abstraction/concrete_env.md
  books/architecture/src/storage/db/abstraction/intro.md
  books/architecture/src/storage/db/abstraction/trait.md
  books/architecture/src/storage/db/intro.md
  books/architecture/src/storage/db/issues/endian.md
  books/architecture/src/storage/db/issues/hot-swap.md
  books/architecture/src/storage/db/issues/intro.md
  books/architecture/src/storage/db/issues/multimap.md
  books/architecture/src/storage/db/issues/traits.md
  books/architecture/src/storage/db/issues/unaligned.md
  books/architecture/src/storage/db/resizing.md
  books/architecture/src/storage/db/serde.md
  books/architecture/src/storage/db/syncing.md
  books/architecture/src/storage/intro.md
  books/architecture/src/storage/pruning/intro.md
  books/architecture/src/storage/txpool/intro.md
  storage/README.md
  storage/blockchain/DESIGN.md
Labels: A-docs, A-storage, A-books, A-book-architecture

#298 P2P: fix connection disconnect on `Client` drop
  p2p/p2p-core/src/client/timeout_monitor.rs
Labels: A-p2p

#301 cuprated: add `constants` & `statics` modules
  Cargo.lock
  Cargo.toml
  binaries/cuprated/Cargo.toml
  binaries/cuprated/src/constants.rs
  binaries/cuprated/src/main.rs
  binaries/cuprated/src/statics.rs
Labels: A-dependency, A-workspace, A-binaries

#299 P2P: remove peer sync service
  Cargo.lock
  p2p/p2p-core/src/client.rs
  p2p/p2p-core/src/client/connection.rs
  p2p/p2p-core/src/client/connector.rs
  p2p/p2p-core/src/client/handshaker.rs
  p2p/p2p-core/src/client/handshaker/builder.rs
  p2p/p2p-core/src/client/handshaker/builder/dummy.rs
  p2p/p2p-core/src/client/request_handler.rs
  p2p/p2p-core/src/client/timeout_monitor.rs
  p2p/p2p-core/src/lib.rs
  p2p/p2p-core/src/services.rs
  p2p/p2p/Cargo.toml
  p2p/p2p/src/block_downloader.rs
  p2p/p2p/src/block_downloader/request_chain.rs
  p2p/p2p/src/block_downloader/tests.rs
  p2p/p2p/src/client_pool.rs
  p2p/p2p/src/constants.rs
  p2p/p2p/src/lib.rs
  p2p/p2p/src/sync_states.rs
Labels: A-p2p, A-dependency, A-workspace

#302 P2P: give the protocol handler access to the peer info
  Cargo.lock
  Cargo.toml
  p2p/p2p-core/Cargo.toml
  p2p/p2p-core/src/client/connector.rs
  p2p/p2p-core/src/client/handshaker.rs
  p2p/p2p-core/src/client/handshaker/builder.rs
  p2p/p2p-core/src/lib.rs
  p2p/p2p/src/lib.rs
Labels: A-p2p, A-dependency, A-workspace
