Repository Cuprate/cuprate, pull requests merged in 2024-11, with the labels that each got.

#170 CI: add cargo hack
  .github/workflows/ci.yml
  CONTRIBUTING.md
  binaries/cuprated/Cargo.toml
  helper/Cargo.toml
  helper/src/lib.rs
  net/epee-encoding/src/container_as_blob.rs
  net/epee-encoding/src/error.rs
  net/epee-encoding/src/lib.rs
  net/epee-encoding/src/value.rs
  p2p/address-book/Cargo.toml
  pruning/Cargo.toml
  rpc/interface/Cargo.toml
  rpc/types/src/bin.rs
  rpc/types/src/json.rs
  rpc/types/src/lib.rs
  rpc/types/src/misc/distribution.rs
  rpc/types/src/misc/misc.rs
  rpc/types/src/other.rs
  storage/blockchain/Cargo.toml
  storage/blockchain/README.md
  storage/blockchain/src/lib.rs
  storage/blockchain/src/service/mod.rs
  storage/database/Cargo.toml
  storage/database/src/backend/mod.rs
  storage/service/Cargo.toml
  storage/txpool/Cargo.toml
  storage/txpool/README.md
  storage/txpool/src/lib.rs
  storage/txpool/src/service.rs
  types/Cargo.toml
  types/src/hex.rs
  types/src/json/block.rs
  types/src/json/output.rs
  types/src/json/tx.rs
Labels: A-p2p, A-dependency, A-workspace, A-docs, A-storage, A-helper, A-net, A-pruning, A-types, A-ci, A-rpc, A-binaries

#320 cuprated: internal signatures required for RPC pt. 2
  Cargo.lock
  binaries/cuprated/Cargo.toml
  binaries/cuprated/src/main.rs
  binaries/cuprated/src/rpc.rs
  binaries/cuprated/src/rpc/constants.rs
  binaries/cuprated/src/rpc/handler.rs
  binaries/cuprated/src/rpc/request/address_book.rs
  binaries/cuprated/src/rpc/request/blockchain.rs
  binaries/cuprated/src/rpc/request/blockchain_context.rs
  binaries/cuprated/src/rpc/request/blockchain_manager.rs
  binaries/cuprated/src/rpc/request/txpool.rs
  consensus/context/src/lib.rs
  consensus/context/src/task.rs
  helper/src/cast.rs
  p2p/address-book/src/book.rs
  p2p/p2p-core/Cargo.toml
  p2p/p2p-core/src/ban.rs
  p2p/p2p-core/src/client/handshaker/builder/dummy.rs
  p2p/p2p-core/src/lib.rs
  p2p/p2p-core/src/services.rs
  p2p/p2p-core/src/types.rs
  rpc/types/Cargo.toml
  rpc/types/src/base.rs
  rpc/types/src/json.rs
  rpc/types/src/misc/misc.rs
  rpc/types/src/other.rs
  storage/blockchain/src/service/read.rs
  storage/txpool/src/service/interface.rs
  storage/txpool/src/service/read.rs
  storage/txpool/src/tx.rs
  types/src/address_type.rs
  types/src/blockchain.rs
  types/src/connection_state.rs
  types/src/lib.rs
  types/src/types.rs
Labels: A-p2p, A-dependency, A-workspace, A-consensus, A-storage, A-helper, A-types, A-rpc, A-binaries

#329 p2p: Implement P2P Bucket data structure
  Cargo.lock
  Cargo.toml
  books/architecture/src/appendix/crates.md
  p2p/bucket/Cargo.toml
  p2p/bucket/src/lib.rs
Labels: A-p2p, A-dependency, A-workspace, A-docs, A-books, A-book-architecture

#335 Fix ci and loosen version requirements
  .github/workflows/audit.yml
  Cargo.lock
  Cargo.toml
  consensus/src/tests/mock_db.rs
  deny.toml
Labels: A-dependency, A-workspace, A-consensus, A-ci

#338 types: fix pruned `BlockCompleteEntry`
  types/src/block_complete_entry.rs
Labels: A-types

#340 Cargo.toml: move commas
  Cargo.toml
Labels: A-dependency, A-workspace, P-low

#337 P2P: Change `ClientPool` to `PeerSet`
  Cargo.lock
  binaries/cuprated/src/blockchain/syncer.rs
  binaries/cuprated/src/txpool/dandelion.rs
  binaries/cuprated/src/txpool/dandelion/stem_service.rs
  p2p/p2p-core/src/client.rs
  p2p/p2p-core/src/client/weak.rs
  p2p/p2p/Cargo.toml
  p2p/p2p/src/block_downloader.rs
  p2p/p2p/src/block_downloader/download_batch.rs
  p2p/p2p/src/block_downloader/request_chain.rs
  p2p/p2p/src/block_downloader/tests.rs
  p2p/p2p/src/client_pool.rs
  p2p/p2p/src/client_pool/disconnect_monitor.rs
  p2p/p2p/src/client_pool/drop_guard_client.rs
  p2p/p2p/src/connection_maintainer.rs
  p2p/p2p/src/inbound_server.rs
  p2p/p2p/src/lib.rs
  p2p/p2p/src/peer_set.rs
  p2p/p2p/src/peer_set/client_wrappers.rs
Labels: A-p2p, A-dependency, A-workspace, A-binaries

#330 ZMQ PUB/SUB JSON Types
  Cargo.lock
  Cargo.toml
  books/architecture/src/appendix/crates.md
  zmq/types/Cargo.toml
  zmq/types/src/json_message_types.rs
  zmq/types/src/lib.rs
Labels: A-dependency, A-workspace, A-docs, A-zmq, A-books, A-book-architecture

#347 Fix #346
  cryptonight/src/util.rs
  storage/blockchain/src/ops/block.rs
Labels: A-cryptonight, A-storage

#196 benches: initial implementation
  Cargo.lock
  Cargo.toml
  benches/README.md
  benches/benchmark/bin/Cargo.toml
  benches/benchmark/bin/README.md
  benches/benchmark/bin/src/log.rs
  benches/benchmark/bin/src/main.rs
  benches/benchmark/bin/src/print.rs
  benches/benchmark/bin/src/run.rs
  benches/benchmark/bin/src/timings.rs
  benches/benchmark/example/Cargo.toml
  benches/benchmark/example/README.md
  benches/benchmark/example/src/lib.rs
  benches/benchmark/lib/Cargo.toml
  benches/benchmark/lib/README.md
  benches/benchmark/lib/src/benchmark.rs
  benches/benchmark/lib/src/lib.rs
  benches/criterion/cuprate-json-rpc/Cargo.toml
  benches/criterion/cuprate-json-rpc/benches/main.rs
  benches/criterion/cuprate-json-rpc/benches/response.rs
  benches/criterion/cuprate-json-rpc/src/lib.rs
  benches/criterion/example/Cargo.toml
  benches/criterion/example/README.md
  benches/criterion/example/benches/example.rs
  benches/criterion/example/benches/main.rs
  benches/criterion/example/src/lib.rs
  books/architecture/src/SUMMARY.md
  books/architecture/src/appendix/crates.md
  books/architecture/src/benchmarking/criterion.md
  books/architecture/src/benchmarking/criterion/creating.md
  books/architecture/src/benchmarking/criterion/intro.md
  books/architecture/src/benchmarking/criterion/running.md
  books/architecture/src/benchmarking/cuprate/creating.md
  books/architecture/src/benchmarking/cuprate/intro.md
  books/architecture/src/benchmarking/cuprate/running.md
  books/architecture/src/benchmarking/harness.md
  books/architecture/src/benchmarking/intro.md
Labels: A-dependency, A-workspace, A-docs, A-benches, A-books, A-book-architecture

#345 rpc/types: fix epee deserialization for `GetBlocksResponse`
  rpc/types/src/bin.rs
  rpc/types/src/misc/misc.rs
  rpc/types/src/misc/mod.rs
  rpc/types/src/misc/pool_info.rs
  rpc/types/src/misc/tx_entry.rs
Labels: A-rpc

#353 workspace: add/fix 1.83 lints
  Cargo.toml
  benches/criterion/cuprate-json-rpc/benches/response.rs
  binaries/cuprated/src/statics.rs
  consensus/context/src/difficulty.rs
  consensus/fast-sync/src/create.rs
  net/epee-encoding/src/macros.rs
  p2p/async-buffer/src/lib.rs
  p2p/dandelion-tower/src/tests/mod.rs
  p2p/p2p-core/src/lib.rs
  p2p/p2p/src/block_downloader/download_batch.rs
  p2p/p2p/src/broadcast.rs
  pruning/src/lib.rs
  rpc/interface/src/route/bin.rs
  rpc/interface/src/route/other.rs
  rpc/types/src/json.rs
  rpc/types/src/macros.rs
  rpc/types/src/misc/misc.rs
  rpc/types/src/other.rs
  storage/blockchain/src/ops/alt_block/block.rs
  storage/blockchain/src/ops/alt_block/chain.rs
  storage/blockchain/src/ops/alt_block/tx.rs
  storage/blockchain/src/ops/block.rs
  storage/blockchain/src/ops/blockchain.rs
  storage/blockchain/src/ops/key_image.rs
  storage/blockchain/src/ops/macros.rs
  storage/blockchain/src/ops/output.rs
  storage/blockchain/src/ops/property.rs
  storage/blockchain/src/ops/tx.rs
  storage/blockchain/src/service/read.rs
  storage/blockchain/src/service/types.rs
  storage/blockchain/src/service/write.rs
  storage/database/src/backend/heed/database.rs
  storage/database/src/backend/heed/env.rs
  storage/database/src/backend/heed/transaction.rs
  storage/database/src/backend/redb/database.rs
  storage/database/src/backend/redb/env.rs
  storage/database/src/backend/redb/storable.rs
  storage/database/src/backend/redb/transaction.rs
  storage/database/src/config/sync_mode.rs
  storage/database/src/database.rs
  storage/database/src/env.rs
  storage/database/src/error.rs
  storage/database/src/lib.rs
  storage/database/src/table.rs
  storage/database/src/tables.rs
  storage/database/src/transaction.rs
  storage/service/src/service/read.rs
  storage/service/src/service/write.rs
  storage/txpool/src/ops/key_images.rs
  storage/txpool/src/ops/tx_read.rs
  storage/txpool/src/ops/tx_write.rs
  storage/txpool/src/service/read.rs
  storage/txpool/src/service/types.rs
  storage/txpool/src/service/write.rs
  test-utils/src/data/constants.rs
  test-utils/src/rpc/data/macros.rs
Labels: A-p2p, A-test-utils, A-dependency, A-workspace, A-consensus, A-storage, A-net, A-pruning, A-rpc, A-benches, A-binaries
