Repository Cuprate/cuprate, pull requests merged in 2025-03, with the labels that each got.

#385 P2P: fix deadlock
  binaries/cuprated/src/txpool/dandelion/stem_service.rs
  books/architecture/src/resources/cap/intro.md
  cryptonight/src/cnaes.rs
  cryptonight/src/hash_v2.rs
  cryptonight/src/hash_v4.rs
  cryptonight/src/slow_hash.rs
  net/levin/src/lib.rs
  net/wire/src/p2p.rs
  net/wire/src/p2p/protocol.rs
  p2p/dandelion-tower/src/config.rs
  p2p/p2p-core/src/client.rs
  p2p/p2p-core/src/client/connection.rs
  p2p/p2p-core/src/client/handshaker.rs
  p2p/p2p-core/src/client/timeout_monitor.rs
  p2p/p2p-core/src/client/weak.rs
  p2p/p2p-core/src/constants.rs
  p2p/p2p-core/src/handles.rs
  p2p/p2p-core/src/protocol.rs
  p2p/p2p-core/src/protocol/try_from.rs
  p2p/p2p-core/tests/handles.rs
  p2p/p2p/src/broadcast.rs
  storage/blockchain/src/ops/macros.rs
  storage/database/src/env.rs
Labels: A-p2p, A-docs, A-cryptonight, A-storage, A-net, A-books, A-binaries, A-book-architecture

#392 ci: remove dependency installs, set OS versions
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
Labels: A-dependency, A-workspace, A-ci

#394 cuprated: config versioning + backwards compat test
  binaries/cuprated/config/0.0.1.toml
  binaries/cuprated/config/Cuprated.toml
  binaries/cuprated/config/README.md
  binaries/cuprated/src/config.rs
  binaries/cuprated/src/constants.rs
Labels: A-docs, A-binaries

#384 Consensus: Fix reorgs
  binaries/cuprated/src/blockchain/manager/handler.rs
  binaries/cuprated/src/blockchain/syncer.rs
  binaries/cuprated/src/main.rs
  consensus/context/src/alt_chains.rs
  consensus/context/src/lib.rs
  consensus/context/src/task.rs
  consensus/src/block/alt_block.rs
Labels: A-consensus, A-binaries

#386 Update to experimental monero oxide api
  Cargo.lock
  Cargo.toml
  binaries/cuprated/config/0.0.1.toml
  binaries/cuprated/src/blockchain/manager/handler.rs
  binaries/cuprated/src/config/p2p.rs
  consensus/rules/src/transactions.rs
  consensus/rules/src/transactions/contextual_data.rs
  consensus/rules/src/transactions/ring_ct.rs
  consensus/rules/src/transactions/tests.rs
  consensus/src/transactions.rs
  consensus/src/transactions/contextual_data.rs
  consensus/tests/verify_correct_txs.rs
  helper/src/crypto.rs
  helper/src/tx.rs
  storage/blockchain/src/ops/output.rs
  storage/blockchain/src/ops/tx.rs
  storage/txpool/src/ops/key_images.rs
  types/src/json/tx.rs
  types/src/output_cache.rs
  types/src/types.rs
Labels: A-dependency, A-workspace, A-consensus, A-storage, A-helper, A-types, A-binaries

#389 cuprated: Add fast sync
  Cargo.lock
  binaries/cuprated/src/blockchain.rs
  binaries/cuprated/src/blockchain/chain_service.rs
  binaries/cuprated/src/blockchain/fast_sync.rs
  binaries/cuprated/src/blockchain/fast_sync/fast_sync_hashes.bin
  binaries/cuprated/src/blockchain/manager.rs
  binaries/cuprated/src/blockchain/manager/handler.rs
  binaries/cuprated/src/blockchain/syncer.rs
  binaries/cuprated/src/commands.rs
  binaries/cuprated/src/config.rs
  binaries/cuprated/src/config/args.rs
  binaries/cuprated/src/main.rs
  consensus/fast-sync/Cargo.toml
  consensus/fast-sync/src/create.rs
  consensus/fast-sync/src/data/hashes_of_hashes
  consensus/fast-sync/src/fast_sync.rs
  consensus/fast-sync/src/lib.rs
  consensus/fast-sync/src/util.rs
  p2p/p2p/src/block_downloader.rs
  p2p/p2p/src/block_downloader/chain_tracker.rs
  p2p/p2p/src/block_downloader/request_chain.rs
  p2p/p2p/src/block_downloader/tests.rs
  p2p/p2p/src/constants.rs
  p2p/p2p/src/lib.rs
  storage/blockchain/src/service/read.rs
  storage/blockchain/src/service/write.rs
  types/src/blockchain.rs
Labels: A-p2p, A-dependency, A-workspace, A-consensus, A-storage, A-types, A-binaries

#380 readme: `Documentation` -> `Books` & `Crates`
  README.md
Labels: A-workspace, A-docs

#378 clippy: add `doc-valid-idents`
  clippy.toml
  consensus/context/src/lib.rs
  consensus/context/src/rx_vms.rs
  consensus/rules/src/blocks.rs
  consensus/src/block.rs
Labels: A-workspace, A-consensus, P-low

#391 cuprated: update killswitch timestamp
  binaries/cuprated/src/killswitch.rs
Labels: A-binaries

#165 books: add `user-book` for `cuprated v0.0.1`
  books/user/README.md
  books/user/book.toml
  books/user/src/SUMMARY.md
  books/user/src/cli.md
  books/user/src/config.md
  books/user/src/getting-started/download.md
  books/user/src/getting-started/intro.md
  books/user/src/getting-started/run.md
  books/user/src/getting-started/source.md
  books/user/src/getting-started/sys-req.md
  books/user/src/getting-started/verify.md
  books/user/src/images/CuprateLogo.svg
  books/user/src/introduction.md
  books/user/src/license.md
  books/user/src/platform.md
  books/user/src/resources/disk.md
  books/user/src/resources/intro.md
  books/user/src/resources/ip.md
  books/user/src/resources/ports.md
  books/user/src/todo.md
Labels: A-docs, A-books, A-book-user

#397 books: user book fixes
  books/user/src/SUMMARY.md
  books/user/src/getting-started/download.md
  books/user/src/introduction.md
Labels: A-docs, A-books, A-book-user

#406 Readme and user book: Fix links
  README.md
  books/user/src/introduction.md
Labels: A-workspace, A-docs, A-books, A-book-user

#408 Cuprated: Fix reorgs
  Cargo.lock
  binaries/cuprated/Cargo.toml
  binaries/cuprated/src/blockchain/manager.rs
  binaries/cuprated/src/blockchain/manager/handler.rs
  binaries/cuprated/src/blockchain/manager/tests.rs
  consensus/context/src/alt_chains.rs
  consensus/context/src/difficulty.rs
  consensus/src/block/alt_block.rs
  consensus/src/tests/context/difficulty.rs
  p2p/p2p/src/broadcast.rs
  storage/blockchain/src/ops/blockchain.rs
  storage/blockchain/src/service/read.rs
Labels: A-p2p, A-dependency, A-workspace, A-consensus, A-storage, A-binaries

#414 ci: fix `deny`
  Cargo.lock
  deny.toml
Labels: A-dependency, A-workspace

#415 cuprated: disable STDIN if not terminal
  binaries/cuprated/src/main.rs
Labels: A-binaries
