Repository Cuprate/cuprate, pull requests merged in 2025-01, with the labels that each got.

#361 rpc/types: add missing defaults to fields
  rpc/types/src/bin.rs
Labels: A-rpc

#334 rpc/types 32 bit support
  .github/workflows/ci.yml
  Cargo.lock
  net/epee-encoding/Cargo.toml
  net/epee-encoding/src/lib.rs
  net/epee-encoding/src/value.rs
  net/epee-encoding/src/varint.rs
Labels: A-dependency, A-workspace, A-net, A-ci

#362 misc: Update SyntheticBird PGP key
  misc/gpg_keys/syntheticbird.asc
Labels: A-workspace

#363 workspace: Rust 1.84
  .github/workflows/ci.yml
  Cargo.toml
  clippy.toml
  constants/build.rs
  rpc/json-rpc/src/version.rs
  storage/database/src/config/config.rs
Labels: A-dependency, A-workspace, A-storage, A-ci, A-rpc, A-constants

#364 ci: stable Rust for `deny`, remove `boost` dep for docs
  .github/workflows/deny.yml
  .github/workflows/doc.yml
Labels: A-ci

#344 cuprated: Init
  Cargo.lock
  Cargo.toml
  binaries/cuprated/Cargo.toml
  binaries/cuprated/Cuprated.toml
  binaries/cuprated/src/blockchain.rs
  binaries/cuprated/src/blockchain/manager/handler.rs
  binaries/cuprated/src/blockchain/syncer.rs
  binaries/cuprated/src/commands.rs
  binaries/cuprated/src/config.rs
  binaries/cuprated/src/config/fs.rs
  binaries/cuprated/src/config/p2p.rs
  binaries/cuprated/src/config/rayon.rs
  binaries/cuprated/src/config/storage.rs
  binaries/cuprated/src/config/tokio.rs
  binaries/cuprated/src/config/tracing_config.rs
  binaries/cuprated/src/constants.rs
  binaries/cuprated/src/logging.rs
  binaries/cuprated/src/main.rs
  binaries/cuprated/src/p2p/request_handler.rs
  binaries/cuprated/src/txpool/dandelion/stem_service.rs
  helper/src/fs.rs
  helper/src/thread.rs
  p2p/address-book/src/book.rs
  p2p/address-book/src/store.rs
  p2p/p2p/src/block_downloader/download_batch.rs
  p2p/p2p/src/inbound_server.rs
  storage/blockchain/src/service/free.rs
  storage/blockchain/src/service/mod.rs
  storage/blockchain/src/service/read.rs
  storage/txpool/src/service.rs
  storage/txpool/src/service/free.rs
  storage/txpool/src/service/read.rs
  types/src/blockchain.rs
Labels: A-p2p, A-dependency, A-workspace, A-storage, A-helper, A-types, A-binaries

#354 Remove `/benches`
  Cargo.lock
  Cargo.toml
  benches/README.md
  benches/benchmark/bin/Cargo.toml
  benches/benchmark/bin/README.md
  benches/benchmark/bin/src/log.rs
  benches/benchmark/bin/src/main.rs
  benches/benchmark/bin/src/print.rs
  benches/benchmark/bin/src/run.rs
  benches/benchmark/bin/src/timings.rs
  benches/benchmark/example/Cargo.toml
  benches/benchmark/example/README.md
  benches/benchmark/example/src/lib.rs
  benches/benchmark/lib/Cargo.toml
  benches/benchmark/lib/README.md
  benches/benchmark/lib/src/benchmark.rs
  benches/benchmark/lib/src/lib.rs
  benches/criterion/cuprate-json-rpc/Cargo.toml
  benches/criterion/cuprate-json-rpc/benches/main.rs
  benches/criterion/cuprate-json-rpc/benches/response.rs
  benches/criterion/cuprate-json-rpc/src/lib.rs
  benches/criterion/example/Cargo.toml
  benches/criterion/example/README.md
  benches/criterion/example/benches/example.rs
  benches/criterion/example/benches/main.rs
  benches/criterion/example/src/lib.rs
  books/architecture/src/appendix/crates.md
  books/architecture/src/benchmarking/criterion/creating.md
  books/architecture/src/benchmarking/criterion/intro.md
  books/architecture/src/benchmarking/cuprate/creating.md
  books/architecture/src/benchmarking/cuprate/intro.md
  books/architecture/src/benchmarking/intro.md
  constants/src/build.rs
Labels: A-dependency, A-workspace, A-docs, P-low, A-benches, A-books, A-book-architecture, A-constants

#365 cuprated: `killswitch` and `version` module
  Cargo.lock
  binaries/cuprated/Cargo.toml
  binaries/cuprated/src/config/args.rs
  binaries/cuprated/src/constants.rs
  binaries/cuprated/src/killswitch.rs
  binaries/cuprated/src/main.rs
  binaries/cuprated/src/version.rs
  constants/src/build.rs
Labels: A-dependency, A-workspace, A-binaries, A-constants

#366 Consensus: Improve API
  Cargo.lock
  Cargo.toml
  binaries/cuprated/src/blockchain.rs
  binaries/cuprated/src/blockchain/manager.rs
  binaries/cuprated/src/blockchain/manager/handler.rs
  binaries/cuprated/src/blockchain/syncer.rs
  binaries/cuprated/src/blockchain/types.rs
  binaries/cuprated/src/commands.rs
  binaries/cuprated/src/main.rs
  binaries/cuprated/src/p2p.rs
  binaries/cuprated/src/p2p/core_sync_service.rs
  binaries/cuprated/src/p2p/request_handler.rs
  binaries/cuprated/src/rpc/handler.rs
  binaries/cuprated/src/rpc/request/blockchain_context.rs
  binaries/cuprated/src/txpool.rs
  binaries/cuprated/src/txpool/incoming_tx.rs
  consensus/Cargo.toml
  consensus/context/Cargo.toml
  consensus/context/src/lib.rs
  consensus/context/src/task.rs
  consensus/context/src/tokens.rs
  consensus/fast-sync/src/fast_sync.rs
  consensus/rules/src/blocks.rs
  consensus/src/block.rs
  consensus/src/block/alt_block.rs
  consensus/src/block/batch_prepare.rs
  consensus/src/block/free.rs
  consensus/src/lib.rs
  consensus/src/tests/context.rs
  consensus/src/transactions.rs
  consensus/src/transactions/contextual_data.rs
  consensus/src/transactions/free.rs
  consensus/tests/verify_correct_txs.rs
  storage/txpool/src/ops/tx_read.rs
  storage/txpool/src/ops/tx_write.rs
  storage/txpool/src/service.rs
  storage/txpool/src/service/interface.rs
  storage/txpool/src/types.rs
  types/src/transaction_verification_data.rs
Labels: A-dependency, A-workspace, A-consensus, A-storage, A-types, A-binaries

#377 database: `SyncMode` changes
  binaries/cuprated/Cuprated.toml
  binaries/cuprated/src/config/storage.rs
  storage/database/src/backend/heed/env.rs
  storage/database/src/backend/redb/env.rs
  storage/database/src/config/sync_mode.rs
Labels: A-storage, A-binaries
