Repository Cuprate/cuprate, pull requests merged in 2025-04, with the labels that each got.

#417 storage: replace `println` with `tracing`
  Cargo.lock
  storage/database/Cargo.toml
  storage/database/README.md
  storage/database/src/backend/heed/env.rs
  storage/database/src/backend/redb/env.rs
  storage/service/Cargo.toml
  storage/service/src/service/write.rs
Labels: A-dependency, A-workspace, A-docs, A-storage, C-fix

#418 cuprated: auto config docs
  .gitignore
  Cargo.lock
  Cargo.toml
  binaries/cuprated/Cargo.toml
  binaries/cuprated/config/0.0.1.toml
  binaries/cuprated/config/Cuprated.toml
  binaries/cuprated/config/README.md
  binaries/cuprated/src/config.rs
  binaries/cuprated/src/config/args.rs
  binaries/cuprated/src/config/fs.rs
  binaries/cuprated/src/config/macros.rs
  binaries/cuprated/src/config/p2p.rs
  binaries/cuprated/src/config/rayon.rs
  binaries/cuprated/src/config/storage.rs
  binaries/cuprated/src/config/tokio.rs
  binaries/cuprated/src/config/tracing_config.rs
  binaries/cuprated/src/constants.rs
  binaries/cuprated/src/main.rs
  books/README.md
  books/user/book.toml
  books/user/gen_config.sh
  books/user/src/config.md
Labels: A-dependency, A-workspace, A-docs, A-books, A-binaries, A-book-user

#428 ci: fix clippy
  Cargo.toml
  consensus/context/src/difficulty.rs
  cryptonight/src/slow_hash.rs
  net/epee-encoding/src/error.rs
  net/levin/src/lib.rs
  p2p/p2p-core/src/client/weak.rs
  p2p/p2p/src/connection_maintainer.rs
Labels: A-p2p, A-dependency, A-workspace, A-consensus, A-cryptonight, A-net

#419 cuprated/database: fix error mappings + msg
  binaries/cuprated/src/main.rs
  storage/database/src/backend/heed/error.rs
  storage/database/src/constants.rs
  storage/database/src/error.rs
Labels: A-storage, C-fix, A-binaries

#403 cuprated: update killswitch timestamp for `v0.0.2`
  binaries/cuprated/src/killswitch.rs
Labels: A-binaries

#413 cuprated: `v0.0.2` version + changelog
  Cargo.lock
  binaries/cuprated/Cargo.toml
  binaries/cuprated/src/constants.rs
  misc/changelogs/README.md
  misc/changelogs/cuprated/0.0.2.md
  misc/changelogs/cuprated/latest.md
Labels: A-dependency, A-workspace, A-docs, A-binaries

#434 ci: fix `release.yml`
  .github/workflows/release.yml
Labels: A-ci

#426 Use blank peer list if saved peer list cannot be read.
  p2p/address-book/src/lib.rs
  p2p/address-book/src/store.rs
Labels: A-p2p

#439 fix clippy warnings
  p2p/address-book/src/store.rs
Labels: A-p2p

#438 `cuprated`: fix switching to main chain after a reorg
  binaries/cuprated/src/blockchain/manager/handler.rs
  binaries/cuprated/src/blockchain/manager/tests.rs
Labels: A-binaries

#424 `cuprated`: relay rules
  binaries/cuprated/src/txpool.rs
  binaries/cuprated/src/txpool/incoming_tx.rs
  binaries/cuprated/src/txpool/relay_rules.rs
Labels: A-binaries

#444 Add `cuprated.service`
  .github/workflows/release.yml
  binaries/cuprated/cuprated.service
  books/user/src/SUMMARY.md
  books/user/src/deployment/intro.md
  books/user/src/deployment/systemd.md
Labels: A-docs, A-ci, A-books, A-binaries, A-book-user
