Repository Cuprate/cuprate, pull requests merged in 2025-05, with the labels that each got.

#448 fast-sync: `.bin` -> `.json`
  Cargo.lock
  binaries/cuprated/Cargo.toml
  binaries/cuprated/build.rs
  binaries/cuprated/src/blockchain/fast_sync.rs
  binaries/cuprated/src/blockchain/fast_sync/fast_sync_hashes.bin
  binaries/cuprated/src/blockchain/fast_sync/fast_sync_hashes.json
  consensus/fast-sync/Cargo.toml
  consensus/fast-sync/src/create.rs
  consensus/fast-sync/src/lib.rs
  misc/FAST_SYNC_HASHES.md
Labels: A-dependency, A-workspace, A-consensus, A-docs, A-binaries

#452 ci: fix deny
  Cargo.lock
Labels: A-dependency, A-workspace

#449 cuprated: Bad reorg recover
  binaries/cuprated/src/blockchain/manager/handler.rs
  binaries/cuprated/src/blockchain/manager/tests.rs
  storage/blockchain/src/ops/alt_block/chain.rs
  storage/blockchain/src/service/free.rs
  storage/blockchain/src/service/tests.rs
  storage/blockchain/src/service/write.rs
  types/types/src/blockchain.rs
Labels: A-storage, A-types, A-binaries

#456 `cuprated`: fix alt block log
  binaries/cuprated/src/blockchain/manager/handler.rs
Labels: A-binaries

#458 fix epee bin OOM
  net/epee-encoding/src/lib.rs
  net/epee-encoding/src/value.rs
  net/epee-encoding/tests/out_of_memory.rs
Labels: A-net

#457 display formatter implementation
  binaries/cuprated/src/config.rs
  binaries/cuprated/src/main.rs
Labels: A-binaries

#459 changelog: add #457 + #458
  misc/changelogs/cuprated/0.0.3.md
Labels: A-workspace, A-docs

#446 P2P: Abstract TCP methods under the Transport Trait.
  Cargo.lock
  Cargo.toml
  binaries/cuprated/src/config.rs
  binaries/cuprated/src/config/p2p.rs
  binaries/cuprated/src/main.rs
  binaries/cuprated/src/p2p.rs
  helper/Cargo.toml
  net/epee-encoding/Cargo.toml
  net/epee-encoding/tests/options.rs
  p2p/p2p-core/Cargo.toml
  p2p/p2p-core/src/client/connection.rs
  p2p/p2p-core/src/client/connector.rs
  p2p/p2p-core/src/client/handshaker.rs
  p2p/p2p-core/src/client/handshaker/builder.rs
  p2p/p2p-core/src/lib.rs
  p2p/p2p-core/src/network_zones.rs
  p2p/p2p-core/src/network_zones/clear.rs
  p2p/p2p-core/src/transports.rs
  p2p/p2p-core/src/transports/dummy.rs
  p2p/p2p-core/src/transports/tcp.rs
  p2p/p2p-core/tests/fragmented_handshake.rs
  p2p/p2p-core/tests/handshake.rs
  p2p/p2p-core/tests/sending_receiving.rs
  p2p/p2p-transport/Cargo.toml
  p2p/p2p-transport/src/lib.rs
  p2p/p2p/src/config.rs
  p2p/p2p/src/connection_maintainer.rs
  p2p/p2p/src/inbound_server.rs
  p2p/p2p/src/lib.rs
  test-utils/Cargo.toml
  test-utils/src/test_netzone.rs
Labels: A-p2p, A-test-utils, A-dependency, A-workspace, A-helper, A-net, A-binaries

#482 workspace: Rust 1.85..=1.87
  Cargo.toml
  binaries/cuprated/src/txpool/incoming_tx.rs
  consensus/context/src/difficulty.rs
  consensus/context/src/rx_vms.rs
  consensus/rules/src/transactions.rs
  consensus/src/block/alt_block.rs
  consensus/src/transactions/free.rs
  cryptonight/src/hash_v4.rs
  helper/src/fs.rs
  helper/src/tx.rs
  net/epee-encoding/src/error.rs
  net/epee-encoding/src/lib.rs
  net/epee-encoding/src/macros.rs
  net/levin/src/codec.rs
  net/wire/src/network_address/epee_builder.rs
  p2p/address-book/src/book.rs
  p2p/p2p/src/block_downloader.rs
  storage/txpool/src/service/write.rs
  types/types/src/block_complete_entry.rs
Labels: A-p2p, A-dependency, A-workspace, A-consensus, A-cryptonight, A-storage, A-helper, A-net, A-types, A-binaries

#464 Add Fuzzing + fix found issues
  .github/workflows/ci.yml
  .github/workflows/fuzz.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  deny.toml
  fuzz/Cargo.toml
  fuzz/README.md
  fuzz/fuzz_targets/cryptonight.rs
  fuzz/fuzz_targets/epee_encoding.rs
  fuzz/fuzz_targets/epee_p2p_messages.rs
  fuzz/fuzz_targets/levin_codec.rs
  fuzz/fuzz_targets/oxide_block.rs
  fuzz/fuzz_targets/oxide_tx.rs
  net/epee-encoding/Cargo.toml
  net/epee-encoding/src/lib.rs
  net/levin/Cargo.toml
  net/levin/src/header.rs
  net/levin/src/lib.rs
  net/wire/Cargo.toml
  net/wire/src/p2p.rs
Labels: A-dependency, A-workspace, A-docs, A-net, A-ci

#493 randomx-rs: `ab4a0ea` -> `567bdca`
  Cargo.lock
  Cargo.toml
Labels: A-dependency, A-workspace

#423 cuprated: integrate `RpcServer`
  Cargo.lock
  Cargo.toml
  binaries/cuprated/Cargo.toml
  binaries/cuprated/src/config.rs
  binaries/cuprated/src/config/macros.rs
  binaries/cuprated/src/config/rpc.rs
  binaries/cuprated/src/main.rs
  binaries/cuprated/src/rpc.rs
  binaries/cuprated/src/rpc/server.rs
  helper/Cargo.toml
  helper/src/lib.rs
  helper/src/net.rs
  rpc/interface/Cargo.toml
Labels: A-dependency, A-workspace, A-helper, A-rpc, A-binaries

#495 `cuprated`: Fix config flatten
  binaries/cuprated/src/config.rs
  binaries/cuprated/src/config/args.rs
  binaries/cuprated/src/config/macros.rs
  binaries/cuprated/src/config/p2p.rs
  binaries/cuprated/src/config/rpc.rs
  binaries/cuprated/src/config/storage.rs
  binaries/cuprated/src/rpc/server.rs
Labels: A-binaries
