Repository Cuprate/cuprate, pull requests merged in 2025-08, with the labels that each got.

#509 Add Tor support to Cuprate (Arti, Tor Daemon, Dandelion router)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  binaries/cuprated/Cargo.toml
  binaries/cuprated/src/config.rs
  binaries/cuprated/src/config/p2p.rs
  binaries/cuprated/src/config/tor.rs
  binaries/cuprated/src/main.rs
  binaries/cuprated/src/p2p.rs
  binaries/cuprated/src/p2p/request_handler.rs
  binaries/cuprated/src/tor.rs
  binaries/cuprated/src/txpool/dandelion.rs
  binaries/cuprated/src/txpool/dandelion/anon_net_service.rs
  binaries/cuprated/src/txpool/dandelion/diffuse_service.rs
  binaries/cuprated/src/txpool/dandelion/stem_service.rs
  binaries/cuprated/src/txpool/incoming_tx.rs
  consensus/fast-sync/src/fast_sync.rs
  deny.toml
  net/epee-encoding/src/macros.rs
  net/wire/Cargo.toml
  net/wire/src/network_address/onion_addr.rs
  p2p/dandelion-tower/src/pool/manager.rs
  p2p/dandelion-tower/src/pool/mod.rs
  p2p/dandelion-tower/src/router.rs
  p2p/p2p-core/Cargo.toml
  p2p/p2p-core/src/client.rs
  p2p/p2p-core/src/client/timeout_monitor.rs
  p2p/p2p-core/src/lib.rs
  p2p/p2p-transport/Cargo.toml
  p2p/p2p-transport/src/arti.rs
  p2p/p2p-transport/src/disabled.rs
  p2p/p2p-transport/src/lib.rs
  p2p/p2p-transport/src/tor.rs
  p2p/p2p/src/block_downloader/download_batch.rs
  p2p/p2p/src/block_downloader/request_chain.rs
  p2p/p2p/src/broadcast.rs
  p2p/p2p/src/inbound_server.rs
  p2p/p2p/src/lib.rs
  rpc/types/src/macros.rs
Labels: A-p2p, A-dependency, A-workspace, A-consensus, A-net, A-ci, A-rpc, A-binaries

#525 fix clippy
  binaries/cuprated/src/config/macros.rs
  consensus/src/transactions.rs
  p2p/address-book/src/peer_list/tests.rs
  p2p/p2p-core/src/lib.rs
  storage/database/src/key.rs
Labels: A-p2p, A-consensus, A-storage, A-binaries

#521 p2p: Expose support flags
  p2p/address-book/src/book.rs
  p2p/p2p-core/src/client.rs
  p2p/p2p-core/src/client/connector.rs
  p2p/p2p-core/src/client/handshaker.rs
  p2p/p2p-core/src/client/handshaker/builder/dummy.rs
  p2p/p2p-core/src/client/timeout_monitor.rs
  p2p/p2p-core/src/services.rs
  p2p/p2p/src/block_downloader/tests.rs
Labels: A-p2p

#533 make ports depend on network zones
  binaries/cuprated/src/config.rs
  binaries/cuprated/src/config/default.rs
  binaries/cuprated/src/config/p2p.rs
  binaries/cuprated/src/config/rpc.rs
  binaries/cuprated/src/main.rs
  binaries/cuprated/src/p2p.rs
  binaries/cuprated/src/rpc/handlers/json_rpc.rs
  binaries/cuprated/src/rpc/server.rs
  binaries/cuprated/src/tor.rs
Labels: A-binaries

#537 update fast sync hashes to 3484672
  binaries/cuprated/src/blockchain/fast_sync/fast_sync_hashes.json
Labels: A-binaries

#536 fix tx-pool invalid version message
  storage/txpool/src/free.rs
Labels: A-storage

#519 Update repo to `cuprated 0.0.6`
  Cargo.lock
  binaries/cuprated/Cargo.toml
  binaries/cuprated/src/constants.rs
  binaries/cuprated/src/killswitch.rs
  books/user/book.toml
  books/user/src/getting-started/download.md
  misc/changelogs/cuprated/0.0.4.md
  misc/changelogs/cuprated/0.0.5.md
  misc/changelogs/cuprated/0.0.6.md
  misc/changelogs/cuprated/latest.md
Labels: A-dependency, A-workspace, A-docs, A-books, A-binaries, A-book-user

#538 CI: fix deny
  deny.toml
Labels: A-workspace
